[2015-09-25 21:06] samhatchett opened #1 "merge community repository"
This repo is forked from USEPA. We need to merge in any community additions from https://github.com/OpenWaterAnalytics/SWMM

If we need to keep commit attribution, theres a pretty good guide for stitching separate repositories here:
http://bugsquash.blogspot.com/2010/03/stitching-git-histories.html -- but this may not be an issue right now.

[2015-10-19 13:42] bemcdonnell commented on #1
Ruben is going to migrate his code and submit a pull request to this repo instead of me stitching this together.

[2015-10-19 13:42] #1 closed

[2016-05-12 02:50] bemcdonnell opened #2 "Input API"
I think it's time to dream up an Input API that will find its way into the formal distribution of SWMM. :)

[2016-05-12 23:30] bemcdonnell commented on #2
EPANET has a toolkit API containing some good starting point ideas.

https://github.com/OpenWaterAnalytics/EPANET/blob/master/src/toolkit.h Lines 243 and 244 reference the functions to "set" values for a node and a link.  This could be expanded in SWMM to adjust hydrology and Ground water parameters.

[2016-05-12 23:49] samhatchett commented on #2
You and I must be drinking from the same well. I've been thinking about this recently too. Would be nice to brainstorm current/future needs for both softwares, maybe nail down a common set of conventions?

[2016-05-13 13:39] bemcdonnell commented on #2
@samhatchett Good timing!

So the main SWMM InputAPI use case I foresee is for calibration - mostly oriented toward planning.  However, there has been talk up here regarding parameter manipulation during simulation time (@rkertesz has some thoughts on this).

[2016-05-15 00:45] samhatchett commented on #2
the ultimate goal on the EPANET side is to have its code split up into three different modules:
- simulation
- project definition I/O
- simulated values I/O
of course there's a fair amount of work to do. I'm working on scraping together some thoughts related to structuring of the API for creating/altering network topology - I'd be interested in your thoughts once I have a draft.

[2016-05-16 21:09] rkertesz commented on #2
I'll let @lmontest chime in but, while we currently can manipulate anything that is controlled in the control section (like orifices), what would be nice is intra-simulation manipulation of things that aren't exposed right now, such as a property for a pipe. This can help not only with calibration and tuning as well as controlling for variables like sediment during a long-term simulation.

[2016-05-25 21:36] bemcdonnell opened #3 "Regression Testing - SWMM"
Automated regression testing would be a great feature as SWMM is moved toward open source development.  The EPANET development team has spent a lot of time on this issue (OpenWaterAnalytics/EPANET#16 OpenWaterAnalytics/EPANET#54). They have implemented a build pass/fail testing protocol that uses Travis-CI testing framework.  I've been a bit out of touch with what they have recently been up to, ho

[2016-05-31 20:48] samhatchett commented on #2
sure, what I mean is pretty simple. for maintainability and extensibility, we need to start pulling the code apart into logical units. the core of that outcome is going to be a streamlined hydraulic engine and associated structs (what i referred to as the "project definition"). you could also call it the "business logic / data model" unit. we will need to provide an API into that data model, which

[2016-05-31 22:50] lmontest commented on #2
As it relates to the work we engage regularly, we find the need to be able to manipulate an asset based on the status of the system. Ideally designing RTC algorithms that can “measure” the state of the system (flows, depths, capacities, even water quality) and adjust setpoints for pumps, orifices, weirs, etc. This means that the control rules must be able to interact during simulation time with th

[2016-08-15 17:17] goanpeca commented on #3
This is very cool :-), I have experience using travis for mac, circle-ci for linux and appveyor for windows on different python projects.

[2016-08-15 17:19] goanpeca opened #4 "Create conda packages"
I think creating conda packages for this different products would definitely allow a bigger audience working on engineering and scientific applications. I would like to create conda packages for the different projects hosted at open water analytics.

Are you familiar with conda? and Anaconda?

---

Since this is an open source and community maintained version of the swmm engine, I am thinking of n

[2016-08-31 23:31] bemcdonnell commented on #2
My ideas and contributions for the InputAPI live here for now:

https://github.com/bemcdonnell/Stormwater-Management-Model/tree/InputAPI

[2017-01-30 06:51] goanpeca opened #7 "What is the license of this code?"
MIT, BSD, APACHE etc?

[2017-01-30 14:54] bemcdonnell commented on #7
The formal USEPA distribution is "public domain".  We could put a license on the API but I'm not sure what value this would bring.

@michaeltryby Do you have any thoughts on this?

[2017-01-30 14:57] goanpeca commented on #7
I am making the conda package for this module (as discussed in the pyswmm repo), and one of the entries is a LICENSE, to upload it to conda-forge  it needs to hace some sort of license.

[2017-01-30 15:09] samhatchett commented on #7
This is a complicated topic, but if I could briefly summarize what I've learned:

You need a license statement, and public domain is not globally valid. If you wrote the code, you have automatic copyright. If you want others to use the code, you must license your copyright under specified terms. MIT is among the least-restrictive licenses for FOSS. Although CC0 looks good on paper, it's [not recom

[2017-01-30 15:12] goanpeca commented on #7
@samhatchett thanks for the input. I am in favor of using MIT in general :-)

[2017-01-30 15:19] goanpeca opened #8 "anaconda.org registration"
@bemcdonnell could you register at

https://anaconda.org

So I can add you to the

https://anaconda.org/openwateranalytics

Organization?

[2017-01-30 16:17] bemcdonnell commented on #8
Done: bemcdonnell is my id

[2017-01-30 16:17] #8 closed

[2017-01-30 16:41] bemcdonnell commented on #7
@samhatchett, I see that epanet-dev has the MIT license already.  As far as EPANET (2), is the dev team planning to licence in the manner you mentioned above? I think we should keep this consistent between EPANET and SWMM

[2017-01-30 16:42] samhatchett commented on #7
correct, probably, and agreed. at least if/until we decide to incorporate.

[2017-01-30 16:54] michaeltryby commented on #3
Here is a link to some tools for regression testing I developed.

https://github.com/USEPA/Stormwater-Management-Model/tree/release-5.1.11/tools

[2017-01-30 17:33] goanpeca commented on #8
Ok, cool added you to OWA as well... in case we want  a shorter version :-p

[2017-01-30 18:10] michaeltryby commented on #3
@bemcdonnell @goanpeca I am available and interested in making a push to get SWMM building and testing under CI. Happy to work with you in this!

[2017-02-21 15:30] goanpeca opened #9 "Add CI integrations"

[2017-02-21 15:31] goanpeca opened #10 "Autoformat code"
We could use something like https://clang.llvm.org/docs/ClangFormat.html, once tests are implemented, to keep the code base in a consistent state. Also this would be enforced on the CI. The idea is to not waste developers time in style reviews but in code reviews, what the code is actually doing!

[2017-02-21 15:32] goanpeca opened #11 "Create a RELEASE workflow"

[2017-02-21 17:15] bemcdonnell opened #12 "Add gh-pages branch to support Doxygen"

[2017-03-01 19:14] bemcdonnell opened #13 "Expose functions to access summary statistics during and after simulation"

[2017-03-01 19:34] bemcdonnell commented on #13
For example: in

[code]

[code]

[2017-03-03 08:46] dickinsonre commented on #13
I am just getting used to this github but if the intent of this issue is to expose the summary statistics to the user of pyswmm or any swmm during the simulation, this is a good idea.  In an earlier version of SWMM5 we had summary stats shown on the Delphi FSIMUL.PAS dialog and it was helpful to see the overall balance when you were running a long simulation.

[2017-03-03 11:07] bemcdonnell commented on #13
@dickinsonre, thanks for the note. I think the current value will be to support optimization. The plan is to expose stats for '''Nodes''' '''Links''' and '''subcatchments'''. Also, i plan to give access to these calls during simulation time. A user can then track the accumulation of, for example, total volume crossing an outfall. This would allow event statistics and cumulative plots.

[2017-03-03 19:59] dickinsonre commented on #13
That is a great idea, it would also be nice to have this in controls.c as an option.  You often want to limit the flow into a storage tank or other structure - i can see a lot of usage for this idea.  Volume and rainfall, especially.  Have you thought of using a water quality tracer as well as a control rule?

[2017-03-03 22:39] bemcdonnell opened #14 "Features for Controls"

[2017-03-03 22:40] bemcdonnell commented on #13
@dickinsonre So if i understand this correctly you are interested in, for example, having access to accumulations in the controls? I raise a separate issue here #14. We can talk about controls there

[2017-03-03 23:14] dickinsonre commented on #14
It would also be good to expose functions to water quality variables during the simulation.  An important concern is wet weather capture if, for example, you have a runoff tracer variable for a combined system it would be a way to prioritize the capture of wet weather vs dry weather flow.

[2017-03-06 14:23] bemcdonnell commented on #9
@goanpeca, so you need a collection of makefiles and project solutions, correct?

[2017-03-06 16:40] goanpeca commented on #9
Well since SWMM seems like "simple" enough library, I would say it would be great to use [cmake](https://cmake.org/) so we can have a single file to handle all OS platform

[2017-03-09 18:58] bemcdonnell opened #15 "Set Simulation End Time"
From toolkitAPI.C... The `EndDateTime` is set correct but the `TotalDuration` was not updated. Probably need to add a function to re-validate the values before the simulation starts

[code]

[2017-03-09 20:27] fmyers commented on #15
Need to convert to milliseconds:
[code]

[2017-03-09 20:28] bemcdonnell commented on #15
Great catch @fmyers. Thanks!  I'll submit a PR with new code soon after I do some testing :-)

[2017-03-10 16:32] bemcdonnell opened #17 "toolkitAPI project_findObject should always be exportable"
Some VS solution settings do not export this function correctly.

[2017-03-10 16:53] fmyers commented on #17
I noticed that all the exposed functions declared in swmm5.h are enclosed by this #ifdef __cplusplus:
[code]

That allows someone to compile either as straight 'C' code or as C++, but forces the linkage to 'C' style.  That's compatible with PySWMM.

However, funcs.h does not have that same setup for project_findObject(), because project_findObject() didn't used to be an exposed function.
Thus, if

[2017-03-10 17:39] #15 closed

[2017-03-10 17:39] #17 closed

[2017-03-13 00:28] aerispaha opened #18 "Makefile for Linux"
It would be useful to be able to build the SWMM source as an command line executable in a Linux environment. A Linux build will make it more convenient to run SWMM on web servers; this could make it easier to scale up model runs on powerful machines (on AWS or whatever you prefer) without having to pay for Windows virtual environments.

I've created a simple Linux Makefile that I've successfully t

[2017-03-13 00:30] samhatchett commented on #18
Exciting! @bemcdonnell is the de-facto maintainer here, but I'll suggest you open a PR with the Makefile in a `build/make` directory.

[2017-03-13 02:29] samhatchett opened #20 "<malloc.h> posix portability"
all `#include <malloc.h>` lines should be replaced by `<stdlib.h>` as the former is not always available on all systems.

[2017-03-13 13:49] aerispaha commented on #20
I agree - I ran into this issue while trying to build on Mac OS.

[2017-03-13 14:16] #18 closed

[2017-03-13 17:31] aerispaha commented on #20
@bemcdonnell I see that you assigned this to yourself. I can help with this also if you'd like to take this off your plate.

[2017-03-13 17:56] bemcdonnell commented on #20
@aerispaha I think this is a collaborative effort since we need to ensure x-platform compatibility.  I am working with Visual 2013.  I will add my solution files shortly to the repo.  I added you

@fmyers, I added you in case you wanted to do any extra testing.  By no means should you feel obligated :-)

[2017-03-13 18:00] bemcdonnell opened #22 "CMake the repo"

[2017-03-13 19:51] goanpeca commented on #22
@bemcdonnell I would focus **ALL** the efforts into using this instead of trying to separately build for OSX, Linux or Windows.

[2017-03-13 20:05] bemcdonnell commented on #22
@goanpeca Agreed.  https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/pull/19#pullrequestreview-26465623

[2017-03-13 20:22] michaeltryby commented on #22
@bemcdonnell @goanpeca Sounds great! @dustykat and I are also interested in doing a cmake build.

[2017-03-13 20:28] bemcdonnell commented on #22
@michaeltryby, have you and @dustykat made any moves toward this goal?

[2017-03-13 20:38] michaeltryby commented on #22
@bemcdonnell I haven't. Can't speak for @dustykat. He was looking at it last we spoke.

[2017-03-14 01:16] samhatchett commented on #22
I've got a CMake file that I'm trying to test now, but first I have to build GCC with openMP. If all goes well, I will PR tonight.

[2017-03-14 15:35] goanpeca commented on #7
@bemcdonnell @samhatchett @michaeltryby any final notes here?

[2017-03-14 15:39] bemcdonnell commented on #7
This is as far as i made it...

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/toolkitapi/LICENSE.txt

[2017-03-14 15:41] bemcdonnell commented on #7
@goanpeca This largest issue right now is trying to ask people to give back.  A permissive license enables takers but not leavers.  At the same time, if we go with a restrictive license... people will just ignore this project and spearhead something on their own.. leaving us with a sad and deprecated set of scripts.

[2017-03-14 15:56] goanpeca commented on #7
Agree, but we still kinda need something more tangible. Any chance we can relicense and MIT plus some extra clause regarding the public domain @michaeltryby ?

[2017-03-14 16:02] bemcdonnell commented on #7
@goanpeca, I can't say for sure but I suspect @michaeltryby might excuse himself from the discussion since he's not an OWA member.  @samhatchett, what are your thoughts on restrictive vs non-restrictive?

[2017-03-14 16:37] samhatchett commented on #7
I'm in favor of MIT. It's possible to move to a more restrictive license later on, but moving to less-restrictive is much more difficult.

My sense is that developer engagement will come from the perceived value of that engagement (carrot), not a license that punishes takers (stick). The main challenge here is getting folks to the table - if we can help drive adoption of the project and its mechan

[2017-03-14 16:41] goanpeca commented on #7
I am favor of MIT and it should be licensed something like.

[code]

[2017-03-14 16:43] samhatchett commented on #7
To be clear, OWA does not yet have legal standing - it only exists on github, not as a formal entity. So the copyright for now would be owned by "Respective Authors (see AUTHORS.txt)". As soon as OWA gets formalized then we will have to do a CLA with all former contributors and ensure that future contributors sign it before merging their works.

[2017-03-14 16:44] goanpeca commented on #7
It does not need to be formalized to be stated as such AFAIL

[2017-03-14 16:49] samhatchett commented on #7
If it is stated as `Copyright Open Water Analytics`, then it will not be defensible since OWA cannot hold a copyright (it does not exist). We don't need to include EPA in the copyright statement however, as employees of EPA cannot claim copyright. It's fair to mention the presence of "Public Domain Works" in the statement and leave the AUTHORS file with all contributors listed.

[2017-03-14 16:50] bemcdonnell commented on #7
@goanpeca also USEPA cannot hold a copyright (as I understand). The original development of SWMM and EPANET were under a cooperative research and development agreement and I believe this also exempts original authors from claiming copyright.  The software was purely 'public domain'.

As @samhatchett mentioned a few weeks ago, no matter the license we choose to launch from should state:

[2017-03-14 16:56] goanpeca commented on #7
What about

`Copyright (c) 2017 Open Water Analytics Developers` or

`Copyright (c) 2017 Open Water Analytics Contributors`

[2017-03-14 20:17] michaeltryby commented on #7
@bemcdonnell @samhatchett @goanpeca Great going guys!

My thinking on licensing is evolving. A permissive license is fine considering the code started in the Public Domain. Think about staying flexible and applying an adaptive approach as the community evolves.

[2017-03-14 20:28] bemcdonnell commented on #7
@goanpeca @samhatchett @michaeltryby, sounds like MIT is reasonable.  I think we should keep it more general as you suggested the following option:

[code]

[2017-03-15 21:08] #20 closed

[2017-03-23 15:49] goanpeca commented on #7
This is what we use for some projects so that PRs failed if the user has not agreed to the license agreement

https://www.clahub.com/

<img width="975" alt="screen shot 2017-03-23 at 10 49 13 am" src="https://cloud.githubusercontent.com/assets/3627835/24256507/60d31b0c-0fb6-11e7-9ac1-403909ba686f.png">

[2017-03-23 23:40] bemcdonnell commented on #7
@goanpeca That's pretty cool!

[2017-03-28 19:54] bemcdonnell opened #24 "Add Control Step to Engine"

[2017-05-01 12:36] bemcdonnell commented on #10
@samhatchett, do you have any experience with auto formatters for C? Have any favorites?

[2017-05-01 14:49] samhatchett commented on #10
I've used `clang-format` with pretty good results. what's really difficult is settling on a configuration - there are many formatting options, some of which will do (IMHO) horrible things to your code. But it's probably worth it to take human eyes out of the loop.

I think there's some ways to set up your local git repo to run everything through `clang-format` prior to commit... [like this one](ht

[2017-05-03 02:23] bemcdonnell opened #25 "update SWMM Version Number to 5.1.12"

[2017-05-03 03:14] bemcdonnell commented on #9
@goanpeca, I cleaned up the repo a bit now and we setup the CI.  I'm know this compiles with Visual.. not sure how it will behave on other platforms..

[2017-05-03 12:43] samhatchett commented on #9
Where is CI set up? I don't see the Travis file - or are you using something else?

[2017-05-03 13:20] bemcdonnell commented on #9
@samhatchett, I missed a word:

I believe we will need to set this up for both Appveyor and Travis.  I'm not the right person to get CI setup for SWMM so I'll lean on you guys to help. :-) In any event, we can start with building then add regression testing later on

[2017-05-03 13:22] bemcdonnell commented on #9
@samhatchett, I added you to the assignees if you're keen to share your thoughts/experience

[2017-05-03 13:24] samhatchett commented on #9
👍  will gladly add this repo to OWA's travis setup, and work on the config for that. never used Appveyer.

[2017-05-03 13:30] bemcdonnell commented on #7
I have added a license and the CLA to the page.  We are going to circle back to this conversation after some more research. In any event, contributors will be consulted.

For now I am going to close the issue

[2017-05-03 13:30] #7 closed

[2017-05-03 13:32] goanpeca commented on #9
A workflow I suggest is using circle ci for linux, travis for OSX and appveyor for windows. Circleci is very fast and can help us catch errors fast, travis for OSX tends to take a lot of time, but its free... and appveyor, well we have no choice there :-p

[2017-05-03 13:40] bemcdonnell commented on #9
Submit PR's to the `dev` branch.

[2017-05-03 13:42] samhatchett commented on #9
@goanpeca i'm curious why you use CircleCI and Travis both. can you point me to some education?

[2017-05-03 13:52] bemcdonnell opened #27 "Create some testing models"
We need a set of models that will be run in CI for regression tests.

@aerispaha, @mehmetbercan, @rkertesz, @abhiramm7 would any of (or all of, or some of) you guys be interested in making a set of simple models that isolate some process *thing*? Ideally these models will run really fast and encompass all of the necessary components without the need for support files.

For example:
- RTK's
- Subca

[2017-05-03 13:52] goanpeca commented on #9
Circke ci is faster... as in it takes less time than travis. Also by spreading the loads per OS the overall ci system is more robust.

[2017-05-03 20:47] abhiramm7 commented on #27
I can help with the controls part, is it just gate opening and closing or is there some other functionality that you feel should be included in control ?

[2017-05-03 23:33] bemcdonnell opened #28 "add datetime.c/h to output API and test"

[2017-05-04 13:14] goanpeca opened #29 "Cmake: Building for OSX issues"
Hi @samhatchett, I am trying to get this build for OSX and in the process I am getting the following warnings:

[code]

And finally, this error:

[code]

Thoughts?

[2017-05-04 13:19] bemcdonnell commented on #29
@goanpeca, Are you on the dev branch right now?

I think i can address at least one of those... _fpreset() needs to sit behind an #ifdef WINDOWS (not DLL)  (if i remember right)..

and `floor()` might require a different library? @samhatchett, correct me if i'm wrong

[2017-05-04 13:20] goanpeca commented on #29
@bemcdonnell yes, I am using dev, as that was the branch that contained the CMakeLists files.

Ok, I can try that

[2017-05-04 13:24] bemcdonnell commented on #29
Ignore my comment on...

[2017-05-04 13:25] goanpeca commented on #29
Ignored...

[2017-05-04 13:34] bemcdonnell commented on #29
Just need to include `#include <math.h>` in toolkit.h, I believe.. :-)

[2017-05-04 13:35] bemcdonnell commented on #29
I'll update these shortly and test compile with visual

[2017-05-04 13:47] bemcdonnell commented on #29
@goanpeca, Just pushed an update to dev - let me know if this works

[2017-05-04 13:54] bemcdonnell commented on #29
@goanpeca, can we build 32 bit too? It looks like you're defaulting to 64 at least in the error message.

[2017-05-04 15:51] bemcdonnell commented on #29
@samhatchett, can/is CMake configured to compile multiple targets?  I want to get rid of these lines and have the compiler define the target CLE or DLL.

[code]

[2017-05-04 17:41] goanpeca commented on #29
@bemcdonnell we dont have 64 bits for OSX

[2017-05-04 17:48] mehmetbercan commented on #27
Bryant,

I can help with some of the components once I am more into this. What you are doing here reminds me OpenMI that is well established standards for component based hydraulic and hydrological models.  There are many components already available and many papers published on use and development of OpenMI. I am wondering if that can be used here.

Mehmet

[2017-05-04 17:54] bemcdonnell commented on #27
So @mehmetbercan, in other words, there is a complete collection of models somewhere? Can you add a link?

[2017-05-04 18:13] mehmetbercan commented on #27
These scripts are in C# but the components are here anyway: https://hydrodesktop.codeplex.com/SourceControl/latest

Goto Source Code tab and under source/plugins/Plugins.Hydromodeller/components

Mehmet

[2017-05-04 19:06] aerispaha commented on #27
@mehmetbercan are there SWMM .inp files somewhere in that HydroDesktop source?

@bemcdonnell I help with the subcatchment model. Should I simply make a model that has a set of subcatchments with various hydrologic parameters?

[2017-05-04 19:45] bemcdonnell commented on #27
I think this is all about isolating different behaviors.  For example, if you're testing a runoff surface, send flow to a free outfall (and do not include a pipe network).  If you're testing a controlling links (pumps, orifices and weirs), try to keep the network simple and straight forward.  We are going to run these tests for tons of models.

@abhiramm7 Pumps on/off, orifices, weirs, and Conduit

[2017-05-05 03:42] mehmetbercan commented on #27
@aerispaha  I know there is SWAT component but it is not on hydroshare. So, there might be SWMM component somewhere but I am not aware. And here it is (first thing came with google search): https://github.com/calebbuahin/SWMMOpenMIComponent

[2017-05-08 11:37] samhatchett commented on #29
Sure, I will look into mac compilation. OMP is a prerequisite and I'm not settled on the best installation advice to give yet. And yes CMake will do multiple targets. However on epanet what we did was to break apart the main() function into a separate file so we didn't have to manage 'define' magic.

[2017-05-10 15:18] dustykat commented on #29
Sam (and all),

Not sure if you have addressed OS X yet with SWMM.   Below are some of my
notes I made when I did a build awhile back -- might be useful, might not.
   Its only a CLI build, but has been running on a couple of my machines.
It is most definitely a hack with respect to the omp.h file.

2017-0315

The contents are:
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

[2017-05-10 15:46] dickinsonre commented on #27
Hello Bryant, Water quality is pretty easy.  Are you looking for this type of simple model - models that test only one feature at a time?
http://www.swmm5.net/2017/04/swmm5-simple-100-mm-rainfall-model-for.html

[2017-05-10 15:54] goanpeca commented on #27
@dickinsonre that would be sweet :-) like "unit testing"

[2017-05-10 17:42] dickinsonre commented on #27
Okay, i have a box account with all SWMM3, SWMM4, SWMM5 testing file,  I am attempting to add the links here
https://app.box.com/files/0/f/1453190976

https://app.box.com/files/0/f/1690982616

https://app.box.com/files/0/f/14088748

https://app.box.com/files/0/f/1453190976

[2017-05-10 17:51] bemcdonnell commented on #27
@dickinsonre, Thanks for sharing.  As we move toward automated regression testing we can use some of the concepts here for inspiration!

[2017-05-19 20:18] michaeltryby opened #32 "Cmake: Build for Linux issues"
Travis-CI build is failing on Linux due to `cmake` build.

[code]

[2017-05-19 20:19] bemcdonnell commented on #32
I think this issue #29 is the same - Continue talk over there?

[2017-05-19 20:23] michaeltryby commented on #32
@bemcdonnell No it is a different issue.

[2017-05-19 20:24] bemcdonnell commented on #32
@michaeltryby, I don't think CMAKE isn't quite ready yet

[2017-05-19 20:26] michaeltryby commented on #32
That's okay. Then I will work on getting it ready.

[2017-05-19 21:00] michaeltryby commented on #32
The minimum cmake version with the command `target_compile_definitions` is 2.8.11 but the Travis build server doesn't have this version of cmake installed. That is the problem.

[2017-05-24 21:21] bemcdonnell opened #34 "code style reformat"
raised this issue to address the code style suggestion by @michaeltryby made in PR #31.

[2017-05-24 21:27] bemcdonnell opened #35 "Object Stats Error Handling"
Update new functions

[2017-05-25 19:23] michaeltryby opened #37 "I&I from text based interface file is not being added to nodal lateral inflow"
This is a bug in SWMM v5.1.12

When a text based interface file is used to define nodal inflow and infiltration the inflow is not being added properly to nodal lateral inflow. The flow values in the interface file are not being parsed and converted from string to double properly.

[2017-05-26 22:35] michaeltryby opened #38 "NCDC CDO 15 minute precipitation data units not recognized"
NCDC CDO 15 minute precipitation data product can be ordered in metric (MM) or standard units (HI, HT). SWMM does not recognize when the units of the supplied data file are in MM it assumes they are either in HI or HT hundred or tenths of an inch respectively. It appears that the rain units attribute for the rain gage selected by the user are being ignored.

This bug is further compounded because

[2017-05-27 01:09] dickinsonre commented on #38
@michaeltryby it would be good if SWMM acknowledged the user defined unit flag in the Raingage property so that a user could use USA unit rainfall in an SI unit model and vice versa.

[2017-05-31 03:03] bemcdonnell commented on #4
@goanpeca, what kind of support do you need for this task? Are we still having issues with cmake?

[2017-05-31 03:06] goanpeca commented on #4
I think CMake is working fine, but we need to support 64 bits.

[2017-05-31 03:10] goanpeca commented on #4
Also @bemcdonnell we need to make a SWMM release.

[2017-05-31 03:11] bemcdonnell commented on #4
Until we get our regression testing in place and compare results between the 64 and 32bits, I'm not sure about the 64bit version. Another detail is that if we build only a 64bit windows version, a 32bit python instance will not be able to talk to the 64bit dll

[2017-05-31 03:13] goanpeca commented on #4
And I am not sure about making any conda packages until we have 64 bits, so there you go.

[2017-05-31 03:17] bemcdonnell commented on #4
@michaeltryby has a good strategy for this

[2017-05-31 14:30] bemcdonnell opened #39 "add semantic version getter to swmm5.c/swmm5.h"

[2017-05-31 14:31] #25 closed

[2017-06-07 22:18] bemcdonnell opened #40 "Fix swmm_setNodeInflow"
Disaggregate the input file parser function

[code]
into two pieces.

[2017-06-11 22:26] goanpeca opened #41 "Add version and help to the CLI"
There should be a simple `swmm -h` and  `swmm --help` and `swmm -v` and `swmm --version` for the command line. This is also a simple way to check compilation was successful when doing the conda build.

See https://github.com/conda-forge/staged-recipes/pull/3115/files#diff-b70c769d454ac533a4a434d2472e57f6R32

[2017-06-11 22:27] goanpeca commented on #4
https://github.com/conda-forge/staged-recipes/pull/3115

[2017-06-20 13:11] bemcdonnell commented on #41
I'll work on #39 soon

[2017-06-20 13:21] #13 closed

[2017-06-20 13:22] bemcdonnell commented on #29
@goanpeca, is it fair to say we can close this issue?

[2017-06-20 15:08] goanpeca commented on #29
Yep

[2017-06-20 15:08] #29 closed

[2017-06-21 13:25] kakila commented on #29
Hi,

You closed this issue but I still get the error

[100%] Linking C executable bin/run-swmm
CMakeFiles/run-swmm.dir/home/juanpi/Resources/SWMM_OWA/src/swmm5.c.o: In function `swmm_open':
swmm5.c:(.text+0x342): undefined reference to `_fpreset'
collect2: error: ld returned 1 exit status
CMakeFiles/run-swmm.dir/build.make:1420: recipe for target 'bin/run-swmm' failed
make[2]: *** [bin/run-swmm] E

[2017-06-21 13:27] kakila commented on #29
Wath follows can be cast to a enhacement request:
User shoud be giventhe option to indicate the installation folder of SWMM to avoid compilation. In my case I am able to install SWMM CLE without troubles, I just find problems with the cmake you provide.

[2017-06-21 13:33] bemcdonnell commented on #29
@kakila, What branch are you working on - `master`?  `_fpreset` is a visual studio function and it looks like you are compiling on linux?

on the `dev` branch you should see this protected behind some pre-processor directives.
https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/dev/src/swmm5.c#L294-L298

[2017-06-21 13:41] kakila commented on #29
@bemcdonnell Indeed, I arrived here from #32 . I am compiling on Linux.
I see those directives, but it might be that cmake is defining DLL for some other reasons (e.g. a folder GNU-DLL is created)

[2017-06-21 13:51] kakila commented on #29
I was in brach master, I have checked out dev and the compilation works. Thanks. I will proceed to test.

[2017-06-21 14:00] kakila opened #46 "Should we or shouldn't we save an inp file from SWMM?"
Hi,

I am trying to assimilate the intended workflow with the swwm python tools. Questions I could not answer by scanning the source tree and the docs there:

1. How should tools/ by installed for the python search path?

2. Are this tools within a module? e.g. can one do from <whatever>.tools import swwm-reader?

3. What python versions are supported? python 3?

I have developed a random network

[2017-06-21 14:01] bemcdonnell commented on #46
@kakila, Have you checked out pyswmm? https://github.com/OpenWaterAnalytics/pyswmm

[2017-06-21 14:03] bemcdonnell commented on #46
@kakila, the python tools distributed with this repo are mainly for regression testing.  Maybe I misunderstood what you're trying to do.

[2017-06-21 14:13] kakila commented on #46
@bemcdonnell your pointer is the answer. Thanks, I somehow missed it.

During the project I will write some wrappers for the Octave programming language. Just to know, are you interested in such wrappers? (using OCT files).

[2017-06-21 14:14] bemcdonnell commented on #46
@kakila, no problem.  If you want to develop your octave wrapper "here" at OpenWaterAnalytics, we woudl be happy to facilitate.

[2017-06-21 14:40] kakila commented on #46
@bemcdonnell great, thnkas. I will consder that.
My needs are the following:

1. Write out INP files from Octave/Python data types

2. Read out INP file into Octave/Python data types

3. Modify INP Octave/Python representation

These represent wrappers to swmm_open and <whatever function is used to save inp file> (haven't identify it yet).

All the running part I would just use pySWMM because it s

[2017-06-21 14:55] bemcdonnell commented on #46
@kakila - what if we work toward moving away from the traditional input files completely?  Currently the API support load an existing model and allows you to manipulate that model within the SWMM data model.  One of the projects we are going to be working on is the input API.  This would allow you to initialize a model, then add H&H components as you feel through the API.  This wont happen overnig

[2017-06-21 15:04] kakila commented on #46
* Removing input files from the loop: how would you then hare models? Would you share a python script that defines the model on the run? I think that it would be always wise to be able to produce that model as a file, althought need not be the SWMM format. Question is whether it should be human readable...i am inclined to think it should'nt but I would like to hear what you think. In any case peop

[2017-06-21 15:12] goanpeca commented on #46
@kakila we will be making bindings to Swmm and Swmmapi via [swig](http://www.swig.org/) moving forward, so many other languages can hook to swmm. Also generating an input file (which has been the traditional approach) is error prone and might change with subsequent versions. As @bemcdonnell points out

And then we can call the swmm routine that generates the file (that lives in the swmm code not o

[2017-06-21 15:16] bemcdonnell commented on #46
PySWMM is only responsible for passing an Input file to the SWMM data model.  From there, pyswmm uses the SWMM-toolkitAPI to manipulate that model.  So PySWMM is working within the SWMM5 data model directly; not pre-generating an input file.

I am not suggesting we get rid of model input files completely - I'm saying that within SWMM we can expose a collection of functions that allow the user to l

[2017-06-21 15:18] goanpeca commented on #46
On top of what @bemcdonnell exposes we would also have

[code]

[2017-06-21 15:27] kakila commented on #46
@goanpeca I was never a friend of SWIG because development is really cumbersome. Also I had noticed unnecessary overheads due to the quality of the code generated. I assume these will be improved over time. This a developer decision, so it is alright.

I fully agree on having the model generated as a script in the language X instead of a file. I also think is a very good idea to centralize the INP

[2017-06-21 15:29] bemcdonnell commented on #46
@kakila, I'm not suggesting an input file generator is a bad idea. What I am suggesting is that maybe the time to be spent on building an input file generator could be used for working on the input API in SWMM since this is the direction we are moving in.

[2017-06-21 15:31] kakila commented on #46
@bemcdonnell roger that! I meant that  if we can we will contribute to the input API (do you already have code? [is this one?](https://github.com/OpenWaterAnalytics/pyswmm/blob/master/pyswmm/toolkitapi.py))

[2017-06-21 15:32] goanpeca commented on #46
@kakila getting swig right the first time is a bit annoying and the automatic bindings that are generated are ugly, but who cares? it is an automatic tool, so we need to get it right once and then we have bindings available for a LOT of languages not just python.

I don't really follow what you are trying to say here.

[2017-06-21 15:35] bemcdonnell commented on #46
@kakila,

under the `toolkitAPI` branch is where the toolkitAPI is living:

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/toolkitapi/src/toolkitAPI.c

Our Friends over on the EPANET side (here at OWA) have put up some code on their net-builder (input API)

https://github.com/OpenWaterAnalytics/EPANET/pull/88

[2017-06-21 15:37] aerispaha commented on #46
For what it's worth, over in the [swmmio](https://github.com/aerispaha/swmmio) project I do currently have a way to write new INP files in the `swmmio.utils.modify_model` module. An example of this is provided in the [README](https://github.com/aerispaha/swmmio#building-variations-of-models), where a section of the INP is adjusted via Pandas and reinserted into a copy of an existing INP.

@kakila,

[2017-06-21 15:38] kakila commented on #46
@goanpeca You start caring when the performance of that ugly code gets in the way. Again, this is a preference, so go ahead.

@goanpeca You are defining an API for a swmm model. The representation is not uniquely defined (as you can see in the representations in swmio and pyswmm...and ours) and the reference abstraction is the one used for INP files. We used another representation (networkX) and w

[2017-06-21 15:42] kakila commented on #46
@aerispaha @goanpeca looking again I think your API would benefit from networkX, unless you want to re-wrtie graph(even if tree) representations and algorithms (as @aerispaha  seem to have done)

[2017-06-21 15:43] bemcdonnell commented on #46
@kakila,

here is what I am envisioning:

You have your model loaded in NetworkX.  Next you use PySWMM as a hub to push your nodes and links directly into SWMM5's data model.   This last step requires the Input API in SWMM

[2017-06-21 15:45] bemcdonnell commented on #46
The theme of `PySWMM` is to provide the pythonic interface.  I think pyswmm should be a dependency for plotters, and other analysis features that people have in mind.

[2017-06-21 15:45] goanpeca commented on #46
SWIG automatically generated bindings are faster than accessing the DLLs directly with ctypes as ctypes carries itself an overhead, in the Python case for pyswmm, can't speak about other languages but for python this is the way it is so  a

`You start caring when the performance of that ugly code gets in the way`

If we ever get to that point (which I don't see how given the c atypes performance l

[2017-06-21 15:51] kakila commented on #46
As said,

1. We will contribute to the toolkitAPI if we find something missing.

2. We will provide python version of our generator that depends on pySWMM for:
    1. Reading INP files
    2. Inserting the generated network into the SWMM data model for simulation
    3. Generating an INP file

[2017-06-21 15:53] bemcdonnell commented on #46
@kakila, Excellent!

[2017-06-21 16:02] michaeltryby commented on #46
The EPANET engine can create an input file from its internal data model. This makes working on an input API easier since it is an easy way to visually check the engines internal model state. I would recommend adding this functionality to SWMM as part of the input API.

[2017-06-21 16:06] dickinsonre commented on #46
@michaeltryby - an excellent idea for #SWMM5 and #SWMM or models in general

[2017-06-21 17:48] bemcdonnell commented on #46
@michaeltryby, SWMM generating an input file might be moving backwards.  I don't think moving forward that we should be promoting this file format since it is not where "puck is going to be."  If someone wants to export an input file, they should use a wrapper to generate the new input file.  This is just my opinion.

[2017-06-21 18:00] michaeltryby commented on #46
@bemcdonnell I've written an input API for EPANET twice. Both times being able to generate an input file directly from the engine data model greatly simplified development.

[2017-06-21 18:09] samhatchett commented on #46
Hi dudes. I would agree in theory with @bemcdonnell about not "polluting" the engine with file I/O. However, having a C component that handles the input file generation/parsing is also handy. For epanet, I've advocated just breaking it into two different components.

if you need knowledge of (or access to) the data model in order to (de)serialize, then the API isn't good enough 😉

[2017-06-21 18:09] bemcdonnell commented on #46
@michaeltryby, I think if you want to add this function you should keep it separate - much like the OutputAPI. I don't feel that adding blocks of non-simulation-related tools is going to be structurally helpful to the engine.

[2017-06-21 18:28] michaeltryby commented on #46
@samhatchett I think I see your point. Input file generation/parsing are very closely coupled to the data model. So coupled in fact, that Lew decided to fuse file parsing with the data model. Even if we do decouple them and write them as separate components, those components would still be dependent on the data model.

The data model is accessed directly throughout the code. It really needs to be

[2017-06-21 18:28] goanpeca commented on #46
I disagree 👎

I never view this repo as JUST the engine, we can split in folders if it helps to conceptualize the difference, but we need input and output tools.

[2017-06-21 18:57] bemcdonnell commented on #46
This has been a great conversation today.  If the general consensus is that an INP save function within SWMM would bring value to a workflow (even if we have complete API access to the data model) then those parties interested should put forward the code to do it!  I'm still interested in a file format agnostic model... but if I have an input API, I should be able to accomplish what I need.   :-)

[2017-06-21 19:03] goanpeca commented on #46
I think we do need to have a human readable format for the persistence of a given model. The current format is probably not the best, but is what we have, but we should consider what type of format would be more generic and fit our needs. We can look at TOML, YAML, JSON etc... and not reinvent a human readable format, but use a well known standard and we then already have the parser/writer for thi

[2017-06-21 19:11] bemcdonnell commented on #46
@goanpeca, I agree that human readable is important.  Another thing I am interested in is a format that will be clean to pass through version control (SVN/GIT/et al.).  Traditional diff tools do not work well with these text based model files since any space or change in the order screws everything up.

If you're trying to diff a model saved by SWMM-UI to the same model that was adjusted and saved

[2017-06-21 19:14] goanpeca commented on #46
The best way to achieve that is by having ordering/sorting of keys and using line per line formats...

[2017-06-21 19:16] bemcdonnell commented on #46
@goanpeca, I'm not sure that changing the format will really be an option in the near future.

[2017-06-21 19:18] goanpeca commented on #46
Probably but we need to think about that for not near future, a custom format will always force tight coupling between code and model

[2017-06-21 19:44] aerispaha commented on #46
@bemcdonnell, I agree with the importance of being able to use Git et el. on INP files. I deal with this in swmmio by comparing models element-by-element so that sorting and comments do not impact the diff. This fails, however, on some of the unusual sections in the INP such as [CURVES].

As an aside: in a very large model (9,000+ links), I've noticed that the way elements are sorted in the INP im

[2017-06-21 19:57] kakila commented on #46
@bemcdonnell the export to INP file should be already part of the swmm code. I reiterate my question to anybody who might have an answer available: what is the function called when the user press 'Save' in the swmm GUI? So this output format should be at least available.

Regarding comments of output formats, I guess you start with one format that is useful for your purposes, currently for us is I

[2017-06-21 19:59] goanpeca commented on #46
The issue is more of using standards vs not using them. What is the INP file standard (I don't know)?

[2017-06-21 20:05] bemcdonnell commented on #46
@kakila, the UI has it's own data model and when you hit the "save" button, it exports a new file from its data model - it does not share a data model with SWMM.

[2017-06-21 20:07] kakila commented on #46
@goanpeca what do you refer to a standard? are you looking for a Committee that meets to define it or what do you mean? A format definition works as a standard and INP definitely has a definition (otherwise we would not behaving this discussion). Do you want ti described as a Grammar?

@bemcdonnell oh, bumps! Anyways where is that file? We could reuse if the code is well structured, if not we coul

[2017-06-21 20:09] bemcdonnell commented on #46
@kakila, the UI is written in Pascal, not C. :-)

[2017-06-21 20:11] bemcdonnell commented on #46
@kakila, https://www.epa.gov/water-research/storm-water-management-model-swmm#downloads

[2017-06-21 20:14] kakila commented on #46
@bemcdonnell oh well, so much for the hope of reducing the work. Ok, we will see to provide a C/C++ INP writer, guess that is task 0.

At first glance, using std:: containers for the different sections of the files seems reasonable. Is everybody interested ok with that?

[2017-06-21 20:24] kakila commented on #46
@bemcdonnell not completely bad new! The file implementing the INP format is Uexport.pas in the GUI folder. It is very good code, very modular! Porting to C/C++ shouldn't be that hard (still tedious). Thanks

[2017-06-21 20:24] bemcdonnell opened #47 "Add inp save function"

[2017-06-21 20:24] bemcdonnell commented on #46
@kakila, lets open a new issue for this and being the talk there. #47

[2017-06-21 20:26] kakila commented on #47
I propose that the first task is to port the code in Uexport.pas in the [GUI source](https://www.epa.gov/sites/production/files/2017-03/swmm51012_gui_0.zip) folder (GUI5_1_012) to C/C++

[2017-06-21 20:30] goanpeca commented on #47
Yes Python easier, but not the definitive solution. It should be C or C++ for it to be useful

[2017-06-21 20:32] kakila commented on #47
Then lets make it C++ (you mean useful for the future multilanguage API based on SWIG?)

[2017-06-21 20:33] goanpeca commented on #47
Useful for anyone wanting to use whatever other language they see fit, be it python or ruby or whatever. And yes useful also for using SWIG.

[2017-06-21 20:37] michaeltryby commented on #47
@kakila Uexport.pas is one example and EPANET [inputfile.c](https://github.com/OpenWaterAnalytics/EPANET/blob/master/src/inpfile.c) is another.

[2017-06-21 20:41] kakila commented on #47
@michaeltryby thanks, I am not familiar with inputs to EPANET. Is there any major differences between inp for EPANEt and inp for SWMM? If there isn't then the work is reduced to refactoring inputfile.c

[2017-06-21 20:41] goanpeca commented on #47
inputfile.c and uexport.pass could become either

- single `io.c`, or
- `import.c` and `export.c` or
-  `input.c` or `output.c`

I mean just to be consistent with the naming (actions that are reflective)

[2017-06-21 20:42] kakila commented on #47
@goanpeca is there a coding style guideline? where would you place this file? what is the naming convention?

[2017-06-21 20:43] goanpeca commented on #47
I have no idea :-p, @michaeltryby is our man here

[2017-06-21 20:44] bemcdonnell commented on #47
Lew's style.  :-)

[2017-06-21 20:45] goanpeca commented on #47
Right now all files are just dumped together, maybe we could add some structure to the source files?

`src/engine` -> *.c files referring to the engine
`src/io` -> *.c files referring to the input output of the model
`src/tools` -> *.c files referring to the tools of use in any other part of the code?
`src/headers` -> *.h files for everything?

[2017-06-21 20:47] michaeltryby commented on #47
@kakila EPANET and SWMM inputfiles are organized the same way using tagged file sections. It might be useful to study up on the input file format in preparation for your project.

[2017-06-21 20:52] bemcdonnell commented on #47
@goanpeca,

before we do:

let me do some re-orging. I've got a couple of pull requests hang around and I want to bring them in first.

[2017-06-21 21:00] michaeltryby commented on #47
Lew's style uses functional abstraction as the primary organizing principal, clearly named functions and variables, copying his coding idioms and idiosyncrasies, a comment header for every function, peppering the source code with helpful comments.

We need to establish and enforce a coding standard.

[2017-06-21 21:08] kakila commented on #47
In Octave we use http://wiki.octave.org/Octave_style_guide after 10+ years of using it I must admit it is very readable and it does provide a speed up when browsing code. For python many of the styles not need apply, e.g. function calls and array accessing is already differentiated.

[2017-06-21 21:10] goanpeca opened #48 "Create an initial coding standard and add to wiki"

[2017-06-21 21:11] goanpeca commented on #47
For reference I opened https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/issues/48

[2017-06-21 21:31] bemcdonnell commented on #48
We could always adopt an existing code standard for all new contributions.  Then we could work backwards to update things.

[2017-06-21 21:31] bemcdonnell commented on #48
@samhatchett, any suggestions?

[2017-06-21 22:03] lmontest commented on #46
If I may add my two cents. Having the engine regenerate the inp file would add code that defeats the purpose of having the api. Otherwise, why dont we just do all ops over the inp file? Having the ability to debug is a good point but then again arent the getters on the api designed for that specific function? It would have been a different story if the function already existed in swmm and we are t

[2017-06-21 22:38] kakila commented on #48
In a multi-languaje project you will probably need several standards. In GNU Octave, for c++ we use http://wiki.octave.org/C%2B%2B_style_guide

[2017-06-21 22:59] kakila commented on #46
@lmontest I do not completely grasp your stand. Do you want to be able to write an INP file from the api?(altough techically wont belong to the api but to the io tools) You being kind of saying no, but then you say just that. Sorry for not understanding

[2017-06-21 23:01] kakila commented on #47
Is there an editable wiki in this project or should I just add information about the EPANET and SWMM input files here?

[2017-06-21 23:03] goanpeca commented on #47
Yep the wiki is editable by people with write access.. :-p

[2017-06-21 23:07] kakila commented on #47
@goanpeca I meant that "I can edit". I guess I will have to use these comments.

[2017-06-21 23:42] kakila commented on #47
## .inp file sections
Section  | EPANET | SWMM| Same?
------------|-------------|-----------|----------|
ADJUSTMENTS | |x|
AQUIFERS | |x|
BACKDROP | |x|
BUILDUP | |x|
CONDUITS | |x|
CONTROLS | x |x|
COORDINATES | x|x|
COVERAGES | |x|
CURVES | x|x|
DEMANDS | x||
DIVIDERS | |x|
DWF | |x|
EMITTERS | x||
ENERGY | x||
EVAPORATION | |x|
EVENTS | |x|
FILES | |x|
GROUNDWATER | |x|
GWF | |x|
HYDROGRAPHS |

[2017-06-22 00:05] samhatchett commented on #48
the epanet project is talking about just using clang-format for auto formatting to make this a non-issue. apparently it can also be integrated with git hooks to make sure everything is formatted before committing.

then arguments just become about "readability" when selecting the clang-format template to use and the prevalence of comments and doxy.

[2017-06-22 00:10] samhatchett commented on #46
I think @lmontest is suggesting, as others have, that the file I/O should be separate from the engine library - and that the file writer should use the engine API to interrogate the project for data and write it out. sound right?

[2017-06-22 00:44] goanpeca commented on #48
Agreed with @samhatchett, have you started using it already?

[2017-06-22 00:54] samhatchett commented on #48
I use a clang-format extension in my IDE - have not integrated with git hooks yet, and we've not decided on a format template either 😉 - would love to hear others' experience.

[2017-06-22 00:58] bemcdonnell commented on #46
@samhatchett, you are correct

[2017-06-22 01:06] goanpeca commented on #48
`would love to hear others' experience.` none :-p, but I use yapf (which is essentially the same idea) for my Python code

[2017-06-22 01:31] lmontest commented on #46
Hi there! @samhatchett<https://github.com/samhatchett> thank you! Yes, I think that inp file manipulation should be done outside the engine and as part of an io library. This would also enable a variety of h/h model formats that share a single data model. There could a library that interfaces the engine to a h/h model in xml format for example or in the original inp file format. Debugging the api

[2017-06-22 01:46] bemcdonnell commented on #32
@goanpeca, has this been resolved?

[2017-06-22 01:46] #12 closed

[2017-06-22 01:46] bemcdonnell opened #49 "Update docs for toolkitAPI"

[2017-06-22 01:49] goanpeca commented on #46
It should not be part of the engine... but it should be part of this library and this repository and it should be C or C++, so that there is ONE default implementation that can be used by other wrappers, of which python is just one and the one we like most.

[2017-06-22 01:56] bemcdonnell opened #50 "GitHub Branching Model...."
I'm not convinced we are using the best branching model for this project.  `PySWMM` brings everything back to the master branch, which I find helpful and simple.  This project is inherently different since (at least at the moment) we are working toward multiple releases of SWMM (5.1.13 - bug fixes and 5.2.0 - the new API).

Seems like people that are new to the project could become quickly frustra

[2017-06-22 03:24] goanpeca commented on #32
I did not do any of the travis things, it works on muy VMs I need to update a PR with this... some day XD (this week I will try to get it done)

[2017-06-22 09:22] kakila commented on #48
Not having an explicit code style is an open door to reduce the openness of your code. You should have a human applicable coding standard, and then automated with tools you like. Where is the definition of the clang-format? If somebody has just a text editor (plin text, no IDE, no auto format), will they be able to comply with your standard?

[2017-06-22 13:33] goanpeca commented on #48
@kakila sometimes an explicit style cannot be emulated by an automatic tool, so its about tradeoffs, maybe the automatic formatter will not make the code 100% as what "some human" would like, but since it is performed automatically, there is no time wasted in enforcing or discussing in pull requests.

The tools have many "levers" so one can adapt settings for different things if you want to know m

[2017-06-22 13:44] kakila commented on #48
Take my warning, the more automated and CS you go, the more difficult for your regular user to contribute to your package. This way (due to a formatting issue) you will be making the wall so high that you will not take advantage of the user community. Every time a user (they probably will label themselves as "I am not a programmer") wants to share with your community some algorithms they develo, t

[2017-06-22 13:48] samhatchett commented on #48
@kakila you have some very good points. too many dev requirements spoils the openness. If I make a useful contribution, should I have to understand code formatters? or can't I just make the contribution and someone who knows about that stuff (and cares) can re-format my code when it's convenient?

In a sense, this is the same philosophical stance that leads one to adopt autoformatting in the first

[2017-06-22 14:08] goanpeca commented on #48
Yep... and concentrate on things that really matter what the code does... and not how the code looks

[2017-06-22 14:11] goanpeca commented on #48
@kakila there is a reason why projects have a set of contributing guidelines.... a `CONTRIBUTING.md` on github that should list all the steps need to get the user going.

User need to know git and github and branches to contribute, that is the first "block" but still they need to learn that, now you add on top of that running a script that we will provide. How is that more than already learning gi

[2017-06-22 14:52] goanpeca commented on #50
I agree with @bemcdonnell, the current model is leading and will lead to more issues (plus we don't have anything documented!) the usual model is:

**master**: keeps the latests development (5.2.0) in this case
**named branches**: are kept for stable releases that need patching, e.g. **5.1.x** would be such branch. When we make the first 5.2 release we will create a new branch **5.2.x** and do pac

[2017-06-22 15:01] bemcdonnell commented on #50
@goanpeca,

May no longer be a concern :-)

[2017-06-27 13:52] michaeltryby commented on #50
@bemcdonnell and @goanpeca GitHub is complicated for the uninitiated developer regardless of the branching model adopted by the project. If the branching model adopted is not documented then of course there will be confusion. That said, you are doing the work, so you get to choose the branching model. I would recommend documenting it.

I am committed to working here at OWA, but the headache of kee

[2017-06-27 13:57] goanpeca commented on #50
@bemcdonnell @michaeltryby lets have a meeting to settle the workflow a bit more? then we can get it on "paper" :-)

[2017-06-27 14:15] samhatchett commented on #50
not sure if this is obvious, but GitHub has some great tutorials on collaborative development methods: https://guides.github.com/introduction/flow/

[2017-06-27 14:17] samhatchett commented on #50
i like this one: https://git-scm.com/book/en/v2/Git-Branching-Branching-Workflows

[2017-06-27 14:27] goanpeca commented on #50
Yeah, that is fine and kinda what we are doing, but we need to incorporate the stable version (current release) branch `5.1.x` in this case and `5.2.x` in some months

[2017-07-06 00:16] #40 closed

[2017-07-06 21:38] #39 closed

[2017-07-06 21:38] #41 closed

[2017-07-10 13:56] bemcdonnell opened #52 "Add Pollutant Subcatchment Results Getters and Setters"

[2017-07-10 14:01] bemcdonnell commented on #52
@SimonDelmas Lets begin our discussion here!

[2017-07-10 14:19] bemcdonnell commented on #52
@abhiramm7, you might be interested in this discussion as well.

[2017-07-10 14:37] dickinsonre commented on #52
@bemcdonnell have you thought of using SWMM5 tracers in the control rules?  You can then use RTC rules based on the percentage of WWF.  I am not sure if you attended the CHI conference where the Austrian university discussed this but we had a SWMM List Server code exchanged.  My code seems to be gone but here is the original thread  https://www.openswmm.org/Topic/5208/5-1-010-bug-hotstart-files

[2017-07-12 20:51] #35 closed

[2017-07-12 21:50] bemcdonnell commented on #50
@goanpeca and @michaeltryby,

I added a page to the wiki on the [Branching Model](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/wiki/GitHub-Branching-Workflow)

[2017-07-12 21:50] bemcdonnell commented on #50
Oh yes, and I updated the relevant branches.  This repo now defaults to the `develop` branch.

[2017-07-13 13:54] #50 closed

[2017-07-13 13:54] #27 closed

[2017-07-19 18:10] goanpeca opened #56 "Add static analysys with clang"
Look into:
https://baptiste-wicht.com/posts/2014/04/install-use-clang-static-analyzer-cmake.html

[2017-07-21 04:20] goanpeca opened #57 "Add Unit tests (to API)"
I will start diving more and more with the codebase of SWMM in the following months (~6 months) and one of the things I have been looking around is for unit test libraries/frameworks for C.

This discuss some options.
- https://en.wikipedia.org/wiki/List_of_unit_testing_frameworks#C
- https://stackoverflow.com/questions/65820/unit-testing-c-code
-
 https://sites.google.com/site/ruslancray/lab/proj

[2017-07-21 14:38] michaeltryby commented on #57
@goanpeca This is great! Thanks for pulling this information together!

As you requested some thoughts:
We are currently running a large testing deficit on the SWMM code base. Unit testing would be a great addition. What is the best approach for attacking this testing deficit?

The challenge of unit testing SWMM and EPANET is going to be the decoupling step. A significant amount of refactoring is

[2017-07-21 14:58] samhatchett commented on #57
another item to think about: in the event of a major refactoring effort, what are the prospects for code sharing between SWMM and EPANET? There's enough similarity in the data models, I/O, and file formats to merit a serious conversation. Is the overlap 20%? 40%? Potentially the result might be a superset model and library that encompasses both engines' needs, with the solvers being considered "pl

[2017-07-21 16:11] goanpeca commented on #57
@michaeltryby

Yes and no, even if the code is tightly coupled we can have an initializer function and unit test methods from there, even if it touches many things, we only test a specific method. Decoupling can be achieved little by little, that is why I suggested shape.c as a star, cause it is probably easy to do it with that file.

It has to be and it will be a gradual process, besides, we need

[2017-07-21 16:14] goanpeca commented on #57
EPANET is moving into a cpp OO codebase (as @samhatchett has stated in different threads), and I don't see that happening for SWMM anytime soon for some reasons:

- C makes the code simpler and the code is currently easy to read and tweak
- Simpler code is easier to contribute to
- We want to have more contributors, and moving this to C++ might hinder the current contributor base

Agreed, I don't

[2017-07-21 16:31] goanpeca commented on #57
I will make a POC of how to achieve this for `shape.c` and we can take it from there. @samhatchett I think the discussion of sharing code between projects is a separate issue, so lets have that discussion on another issue :-).

[2017-07-21 17:04] goanpeca commented on #32
This has been solved

[2017-07-21 17:05] #32 closed

[2017-07-21 17:06] #10 closed

[2017-07-21 17:10] goanpeca opened #58 "Epanet and SWMM common codebase"
As discussed in #57 there is some common ground between Epanet and SWMM that could be unified in a single codebase (additional separate library/repo?)

Let's use this issue to discuss how we could achieve this. There is the issue of making SWMM more OO oriented (using C++) as Epanet is already moving in that direction, I don't know if that is also a separate issue/discussion but I guess we can hav

[2017-07-23 20:58] goanpeca opened #60 "Decoupling the codebase a bit: headers"
This might not be a priority, or we might lack resources to pursue this endeavor. I think that having a  `headers.h` which itself imports almost all (have not checked) headers in the project makes the process of decoupling the codebase more difficult. I argue it would be better to import the headers that are strictly required for a given file. and this could be a first step in the decoupling/unit-

[2017-07-24 13:17] bemcdonnell opened #61 "Node Lateral Inflow Bug"
@fmyers caught a small bug that is almost harmless.

In `routing.c` under `routing_execute()` there is a loop that sets the oldLatFlow to the newLatFlow for all the nodes:

[code]
then all the lateral inflows are added to the nodes

Then it jumps down and loops through all the nodes again calling a function in `nodes.c` `node_setOldHydState()`

[code]

where `node_setOldHydState()` also moves OldL

[2017-07-24 13:46] dickinsonre commented on #61
@bemcdonnell I also added a link to https://www.openswmm.org/SWMM51012/routing-c in the interest of cross referencing SWMM5 issues.  Is this okay?

[2017-07-24 13:52] bemcdonnell commented on #61
@dickinsonre sure! no problem!

[2017-07-24 14:51] #61 closed

[2017-07-24 18:13] fmyers commented on #61
@dickinsonre  The unneeded line of code is actually in node.c, within node_setOldHydState().  I only mention it because of your link to https://www.openswmm.org/SWMM51012/routing-c  and I was wondering if there is one for node-c too.

The sequence of execution ended up performing these operations, though not all in the same routine:

1. Node[j].oldLatFlow  = Node[j].newLatFlow;
2. Node[j].newLatFl

[2017-07-24 18:53] dickinsonre commented on #61
Thanks, I am adding your further comments to the CHI website @fmyers

[2017-07-28 08:43] ggerber opened #63 "missing makefile for Shared object Library"
Hi,
Is there a reason why there is no makefile for creating a shared object library of swmm on Linux?
If I uncomment #define SOL in swmm5.c, then none of the makefiles work in _build/GNU-DLL or _build/Linux

[2017-07-28 13:08] bemcdonnell commented on #63
@ggerber, the repo has been focused on using CMake for CLE and DLL.  Most efforts have been focused on building a dynamic lib (shared lib on linux).  Here is a Linux makefile to build a shared lib if CMake isn't working.

[Makefile.zip](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/files/1183102/Makefile.zip)

[2017-07-28 14:12] ggerber commented on #63
Hi,
Apologies if I am missing something.
The zipped makefile appears to be identical to the one in _build/Linux,
which builds the swmm executable, but not a .so
When I run make on the zipped makefile (with #define SOL in swmm5.c) I get:

*gcc swmm5.o climate.o controls.o culvert.o datetime.o dynwave.o dwflow.o
error.o exfil.o findroot.o flowrout.o forcmain.o gage.o gwater.o hash.o
hotstart.o iface

[2017-07-28 18:46] bemcdonnell opened #64 "swmm_setNodeInflow() Unit Conversion - Quick Fix"
Unit conversion from `CFS` -> `your flowrate` step was missed in the last update. Fix will be committed in a minute.

[2017-08-01 21:30] #64 closed

[2017-08-07 14:15] bemcdonnell opened #68 "Pop out main entry point from swmm5.c to main.c"
Also put in new directory `run/main.c`

[2017-08-07 14:16] bemcdonnell opened #69 "Migrate toolkitAPI.c/.h into swmm5.c/.h"
And document the API!

[2017-08-07 14:18] bemcdonnell opened #70 "Thread Safety (encapsulate global variables into opaque structure)"
1. This will enable us to run multiple models within a single instance of SWMM.
2. Will also let us safely set variables with the API assuming a user can use multiple threads to talk to the API. Mutex?

[2017-08-07 14:50] bemcdonnell opened #71 "add SWIG Support to SWMM"

[2017-08-08 23:48] bemcdonnell opened #72 "Add Contributors Code of Conduct"

[2017-08-17 13:06] bemcdonnell opened #74 "#define SOL /* Compile as a shared object library */"
Issue Copied from USEPA/Stormwater-Management-Model

[2017-08-17 13:10] bemcdonnell commented on #74
Also reference issue #63

[2017-08-17 13:18] #72 closed

[2017-08-17 14:19] bemcdonnell commented on #74
@jmpmcmanus, I think we can get away with compiling a `dylib` and opposed to a formal Shared Object:

https://stackoverflow.com/questions/9688200/difference-between-shared-objects-so-static-libraries-a-and-dlls-so

[2017-08-17 14:30] goanpeca commented on #74
@bemcdonnell I agree... that is what we are doing now anyway

[2017-08-17 14:31] bemcdonnell commented on #74
@goanpeca, I think it would be a good idea to remove that line from swmm5.c

[2017-08-17 15:52] jmpmcmanus commented on #74
what do you use when you compile linux/swmm5.so or macos/swmm5.so? I would like to help, but am unsure about what I need to do to compile it as a shared library on my machine.

    On Thursday, August 17, 2017 10:32 AM, Bryant E. McDonnell <notifications@github.com> wrote:

 @jmpmcmanus, I think we can get away with compiling a dylib and opposed to a formal Shared Object:https://stackoverflow.com/

[2017-08-17 16:04] goanpeca commented on #74
@jmpmcmanus we are using conda and the conda infrastructure + cmake to do all our compilation.

Are you familiar with conda?

[2017-08-17 16:07] bemcdonnell commented on #74
@jmpmcmanus, there are a couple makesfiles available in the '_build' directory.  I suggest editing one of them to add the flag to define DLL.  This way we do not need to keep changing this in the code.  If I remember right it is `-D DLL` (you should fact check me)?

[makefile](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/_build/Linux/Makefile)

[2017-08-17 16:09] bemcdonnell commented on #74
@goanpeca, just to be clear, my comment is relevant if @jmpmcmanus wants to build locally.  If we want to move all builds to the web, conda is the best option as of today.

[2017-08-17 16:19] bemcdonnell commented on #74
The repo is also setup with CMAKE but I haven't testing this on Linux, personally.

[2017-08-17 16:31] jmpmcmanus commented on #74
I once briefly used it when I was exploring using Anaconda. I can install it and start coming up to speed on it.

    On Thursday, August 17, 2017 12:06 PM, Gonzalo Peña-Castellanos <notifications@github.com> wrote:

 @jmpmcmanus we are using conda and the conda infrastructure + cmake to do all our compilation.Are you familiar with conda?—
You are receiving this because you were mentioned.
Reply t

[2017-08-17 16:51] bemcdonnell opened #75 "swmm_setLinkParam Set Link Setting Offset Conversion"
If a link’s offset is changed and `Elevation Offsets` are being used, then the conversion of the new offset to a an internally used depth offset gets messed up.

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/src/toolkitAPI.c#L452-L499

[2017-08-17 16:52] bemcdonnell opened #76 "swmm_setNodeParam Add Checks"
When a node invert elevation is changed and a regulator link is connected to it there is no check made to insure that the regulator crest (upstream offset) is above the node’s invert.

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/src/toolkitAPI.c#L379-L413

[2017-08-17 16:54] bemcdonnell opened #77 "conduit_validate() refactoring"
The validation routine for a conduit (conduit_validate) will make duplicate adjustments for `FORCE_MAIN` and  `FILLED_CIRCULAR` conduit shapes because of the use of the `/=` and `+=` operators.

[2017-08-17 16:56] #63 closed

[2017-08-17 17:38] goanpeca commented on #74
@bemcdonnell I understand, but even then the suggested compilation should be using CMAKE, not those makefiles. I left them for reference, but I would consider them obsolete.

@jmpmcmanus actually if you install conda (via, anaconda or miniconda) then you can install conda-build and ran the build process on your local machine easily

- Download install conda (via anaconda or miniconda)
- Install co

[2017-08-17 17:40] bemcdonnell commented on #74
@goanpeca, can you provide that information in the wiki? I think it is very useful beyond this issue.  Maybe a new page called `Builds.md` or `building.md`?

[2017-08-17 17:44] goanpeca commented on #74
Sure can, please open an Issue and assign it to me?

[2017-08-17 17:51] bemcdonnell opened #78 "Add Building page to Wiki"

[2017-08-17 18:00] bemcdonnell commented on #74
@goanpeca, I don't see inside the conda.recipe that it defines `-DDLL` (nor do I see this line in the CMake files). Am I missing something?

[2017-08-17 18:02] goanpeca commented on #74
-DLLL ??? we make dylib on mac and so on linux with the current setup

[2017-08-17 18:05] bemcdonnell commented on #74
It's not the extension I'm commenting on.  I'm talking about defining one of these inside the makefile instead of uncommenting/commenting them inside the code.  In VS I have a flag to define DLL or CLE depending on my target. This can also be accomplished inside a linux makefile

`swmm5.c`

[code]

[2017-08-17 18:07] bemcdonnell commented on #74
[code]

Should change to "Dynamic Linking Library" instead of "Windows DLL" This should help with confusion

[2017-08-17 18:35] samhatchett commented on #74
Maybe I'm not tracking the conversation well, but i think the preferred solution to specifying the compilation output would be by passing a flag to CMAKE - such as the standard [`BUILD_SHARED_LIBS`](https://cmake.org/cmake/help/latest/variable/BUILD_SHARED_LIBS.html). Although I'm not sure if this plays nice with conda.

[2017-08-17 18:36] bemcdonnell opened #79 "Add History Acknowledgments to Wiki"
Thanks to all of the brilliant people working on this engine since 1971, OWA is so lucky to have a magnificent base to launch from. **Take some time to look at the project Acknowlegements:**

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/wiki/Acknowledgements

[2017-08-17 18:53] jmpmcmanus commented on #74
I installed anaconda3 which has conda. The Anaconda repository has OWA libswmm 5.2.0.dev0:
Libswmm :: Anaconda Cloud

|
|   |
Libswmm :: Anaconda Cloud
   |  |

  |

which I installed using conda. It was installed anaconda3/lib directory. I could not find pyswmm in the repository, but I downloaded it from github and installed it using setup.py. I then ln -s anaconda3/lib/libswmm5.so to anaconda3/l

[2017-08-17 18:58] goanpeca commented on #74
@jmpmcmanus the pyswmm is not able currently to work correctly, cause this is a work in progress. The libswmm packages are compiled on the CI system and are meant to be used for dev only purposes. I was suggesting you build the library locally on your system with conda-build, and then extract the .so library and put it in the lib folder of pyswmm and seeing if that was working for you.

[2017-08-17 19:35] bemcdonnell commented on #74
@jmpmcmanus, if you got SWMM to compile, There is a subfolder in the pyswmm package

`pyswmm\lib\linux`

Place the .so in there and see if that works.

[2017-08-17 19:54] bemcdonnell commented on #74
@samhatchett, thanks for sharing the link.  That seems to be the most standard way to implement this build. I have another issue raised to pull out the main entry point from swmm5.c much like you all did for EPANET.

[2017-08-17 20:00] jmpmcmanus commented on #74
I tried building with conda-build. It produced a file libswmm-5.2.0.dev0-h72345f7_42.tar.bz2, which had bin/run-swmm, include/swmm5.h and lib/libswmm5.so. I put them in the appropriate directories, and then ran run-swmm which worked. I also tried ln -s libswmm5.so to pyswmm/lib/linux/swmm5.so, but got a core dump when I tried using pyswmm.

    On Thursday, August 17, 2017 3:35 PM, Bryant E. McDon

[2017-08-17 20:01] bemcdonnell opened #80 "Add outfall boundary condition setter to the API"
This function will let the API user set the depth at an outfall during simulation time.  I think the value should be held constant until the API user changes it.

[code]
Similarly, `swmm_setNodeInflow()` holds the value constant until it is changed by the API user.  Does anyone have any thoughts or concerns?

[2017-08-17 20:02] goanpeca commented on #74
@jmpmcmanus

Great to hear that, the idea with conda, is that you can simply install that local compiled version (for develop SWMM) and then install pyswmm  with conda and it should just work. We are a few weeks behind that workflow but we are almost there. Thanks for testing

[2017-08-17 20:04] bemcdonnell commented on #74
@jmpmcmanus, for pyswmm specific issues, let's continue those over at pyswmm on the issue you raised earlier:

https://github.com/OpenWaterAnalytics/pyswmm/issues/114

[2017-08-17 20:12] goanpeca commented on #78
@bemcdonnell maybe a BUILD.md file on the the repo root?

[2017-08-22 11:44] bemcdonnell opened #81 "Add Set Link Setting Orifice / Weir limits [0, 1]"
Need to add some limits to weird and pumps. In fact, the whole function should be cleaned up.

See discussion here: https://github.com/OpenWaterAnalytics/pyswmm/issues/108

[2017-08-22 13:38] goanpeca commented on #81
@bemcdonnell pointing to the part of the code could help contributors to jump in :-p

[2017-08-22 14:31] bemcdonnell commented on #81
https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/src/toolkitAPI.c#L1043-L1077

[code]

[2017-08-24 23:07] #34 closed

[2017-08-24 23:29] bemcdonnell opened #90 "Code auto-format list"
## @goanpeca

- [ ] - 1553 - climate.c
- [ ] - 101  - consts.h
- [ ] - 1217 - controls.c
- [ ] - 406  - culvert.c
- [ ] - 535  - datetime.c
- [ ] - 63   - datetime.h
- [ ] - 647  - dwflow.c
- [ ] - 877  - dynwave.c
- [ ] - 473  - enums.h
- [ ] - 235  - error.c
- [ ] - 177  - error.h
- [ ] - 240  - exfil.c
- [ ] - 35   - exfil.h
- [ ] - 138  - findroot.c
- [ ] - 12   - findroot.h
- [ ] - 807  - flo

[2017-08-30 17:17] #78 closed

[2017-09-14 18:39] katmratliff opened #91 "problems with building .dll in windows"
Hi all -- this doesn't a problem with the SWMM code, but rather with MinGW (I think). Apologies if this is an incorrect use of an issue here, but I'm not making much headway myself, and I figured you all were the best group to help with this...

A little background on what I'm trying to do, just to make sure I'm going about this correctly: I'm planning to add some functions to the toolkit API bran

[2017-09-14 18:45] bemcdonnell commented on #91
@katmratliff, have you trying using CMAKE?  https://cmake.org/  The repo has been configured to use this.  It is worth a look - It makes life easy for sure.

[2017-09-14 18:51] katmratliff commented on #91
Thanks, @bemcdonnell ! I was trying to use MinGW32 since that's the compiler mentioned in the makefile, but I've used cmake in the past and will try that instead.

[2017-09-14 19:03] bemcdonnell commented on #91
@katmratliff, also side note - I'm keeping the `toolkitAPI` branch around for legacy purposes at this point.  For the pollut stuff, go ahead and start with the `develop` branch. I'll update the wiki to convey that.

[2017-09-14 19:07] katmratliff commented on #91
@bemcdonnell thanks, glad I asked!

[2017-09-14 19:07] #91 closed

[2017-09-19 00:53] bemcdonnell opened #92 "Add swmm_getNodeTotalInflow()"
This function is to help replicate values that can be found in the report file -> `Total Node Inflow Volume`

[2017-09-20 00:54] #92 closed

[2017-10-20 13:27] bemcdonnell opened #94 "Output API with SWIG Support"

[2017-10-20 13:28] #79 closed

[2017-10-20 13:31] #74 closed

[2017-10-20 14:03] michaeltryby commented on #71
@bemcdonnell I am working on this. Can you assign me to this issue? Thanks.

[2017-10-30 22:09] #80 closed

[2017-10-30 22:09] #81 closed

[2017-11-04 02:36] bemcdonnell opened #98 "API Versioning"
I think it's time to start versioning our APIs.

[2017-11-04 14:46] #9 closed

[2017-11-04 14:47] #4 closed

[2017-11-06 15:34] michaeltryby commented on #94
@bemcdonnell I am making progress on this issue. I'm staging the changes [here.](https://github.com/michaeltryby/Stormwater-Management-Model/tree/outputapi/tools/swmm-output)

[2017-11-06 16:11] michaeltryby commented on #98
@bemcdonnell This is timely and a good idea. Typically, we have managed the API by focusing on maintaining backwards compatibility. Now that we have figured out better approaches for handling memory allocation in the API we should revisit how we present functionality. There is an opportunity to make the API more friendly and convenient to use.

[2017-11-07 23:04] #98 closed

[2017-11-14 18:00] michaeltryby commented on #94
So can we close this issue?

[2017-11-14 18:20] bemcdonnell commented on #94
@michaeltryby, yes.  In a PR if you write

"Closes #94" it will close it automatically

[2017-11-14 18:20] #94 closed

[2017-11-16 21:31] bemcdonnell opened #102 "Flow Routing Continuity for Backflow Through Outfalls"
If the Outfall stage is greater than the head in the next upstream node, the outfall will produce back flows into the network (which is expected behavior).  This flow is not tracked as an **inflow** and this causes system totals inflow and outflows to negate one another.  In many cases, the routing error go through the roof. Not a huge deal since mass is preserved. But I believe it should be track

[2017-11-16 22:02] dickinsonre commented on #102
yes, that is a known issue - i see it a lot in many models. It is more of a reporting issue than a modeling problem.

[2017-11-16 22:15] bemcdonnell commented on #102
@dickinsonre, the fix is here: #103

It will be interesting to see how people feel about this fix :-)   Now negative outfalls are counted as external inflows.

[2017-11-16 22:33] bemcdonnell commented on #102
#104

[2017-11-16 22:56] #102 closed

[2017-11-17 15:46] #69 closed

[2017-12-03 18:26] lrntct commented on #2
The link is dead. Is there a page or wiki where are compiled the ideas and status?

[2017-12-03 18:42] samhatchett commented on #2
Private repo?

[2017-12-03 19:48] bemcdonnell commented on #2
@lrntct, i must have removed that at some point. But truth be told; I doubt any of the ideas I had then were worthwhile :-)

Here’s some stuff on the api.  https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/wiki/Enhanced-API

I think we should have a roadmapping meeting to talk about the future of the data model and API

[2017-12-04 02:57] RudyFrom3 opened #110 "Dynamically Setting the Pit Losses using Hare Equation. Needs Pit Inflow Capacity"
I have raised this in PySWMM ... but probably is best placed here ?

https://github.com/OpenWaterAnalytics/pyswmm/issues/134

This as mentioned also requires a cleaner method to determine the flow into a pit inlet?
As suggested a rating curve, or Weir/Orifice Combination equation would suffice ??

[2017-12-04 05:37] RudyFrom3 commented on #110
Given a Depth of Flow from either a 1D link or an external 2D model, either a Rating Curve, or possibly better,....   code including the weir/orifice and submerged weir would identify the flow into a pit (node) {or storage} from which pit losses coefficients can be determined using the connected links and link flows as per the method described in OpenWaterAnalytics/pyswmm#134  This will provide ma

[2017-12-04 16:37] lrntct commented on #110
It seems to me that there are to different things here:
1 - calculating the flow from/two a surface model
2 - calculating the pit loss due to the node inflow

I'll open an issue for the first one.

[2017-12-04 16:45] lrntct opened #111 "Calculate the flow from/to a surface model"
Some [recent discussions](https://www.openswmm.org/Topic/9964/how-to-surcharge-swmm-into-a-2d-domain) on the OpenSWMM mailing list shows that there is some interest in linking SWMM to a 2D surface domain.
This as been done by some commercial packages, and by researcher as well [1, 2].
I achieved this in [Itzï](https://bitbucket.org/itzi-model/itzi/) by using Cython, but it could be much cleaner (a

[2017-12-04 17:21] lrntct commented on #111
I think that it could be implemented in the following way, by using orifice and weir equations to calculate the flow:

A function that loop through the nodes, calling another function for each node:
 - if the node is not linked, continue
 - determine the type of equation to use, according to the relative heads in the node and the domain
 - calculate and apply the lateral flow

To calculate the flo

[2017-12-04 18:14] lrntct commented on #111
Some theory on the use of weir and orifice for the flow calculation are found here:
http://documents.irevues.inist.fr/bitstream/handle/2042/25250/0465_239chen.pdf

I would propose to simplify the solution described in this paper by using only the orifice equation when the node is overflowing.

This solution as been proven with comparison to a physical model:

[2017-12-04 21:30] RudyFrom3 commented on #111
I would expect that there would be a benefit to having BOTH the Weir and orifice equation applying, as described in many texts such as the 1956 John Hopkins University "The Design of Storm Water Inlets", whereby the opening operates as a weir, until it is drowned and then acts as an orifice. For this to occur an effective weir length L is required and an effective clear opening area A (accounting

[2017-12-04 22:13] lrntct commented on #111
What I propose:

 - When the surface drains into the sewer, use free weir, submerged weir or orifice, depending on the relative water heads and crest elevation (see the PDF I shared)
- When the drainage is overflowing, orifice.

However, different authors use different combinations, and it does not seems that there is a definite answer to that.

For the weir length and opening area, I was thinking

[2017-12-04 22:57] lrntct opened #112 "Allow to set the surface area to individual nodes"
The dynamic wave model needs that each node has a surface area. By default, this `MinSurfArea` is set to ~12 ft², which is equivalent to a 4ft diameter.
It is possible to set a global parameter to change this value.
However, network nodes could vastly vary in size, from a small 80cm manhole to a multi-metres pits in large mains. A value per node might be more accurate.

[2017-12-04 23:01] dickinsonre commented on #112
If you want a value per node you should convert the default manholes or junctions to storage nodes and use a constant surface area for the storages.

[2017-12-04 23:11] bemcdonnell commented on #112
It depends how you would propose to implement this. If the API could access this value only, it would be interesting to discuss. On the other hand, a storage node is a very simple approach that wouldn’t change the internals in a huge way

[2017-12-04 23:21] bemcdonnell commented on #112
Side note; I’m growing more and more comfortable with having features available to the api user. In the future, we can re envision the structure of an input file which will allow us to have more detail.

[2017-12-04 23:34] RudyFrom3 commented on #111
In Australia there are a few papers on Culvert Blockage (more so than pits) however many local authorities require a blockage factor to be applied when undertaking analysis. I will try and track down resources. For example Wollongong City Council specifies 50% and 80% blockage in:

http://www.wollongong.nsw.gov.au/council/governance/Policies/Wollongong%20DCP%202009%20Chapter%20E14%20-%20Stormwater

[2017-12-05 02:15] lrntct commented on #112
Of course, from a numerical point of view, every node is a storage. A junction is just a very simple one.
However, from the user standpoint, I believe that a storage is a *structure specifically design to store water*. If a user wants to list the storages of a model, they might not expect to receive a list including all the "custom" junctions.

My proposition would not be simply changing the API,

[2017-12-05 09:07] ggerber opened #113 "Node inflow discrepancy between linux binary and windows swmm5.1"
Hi,
When I run the same .inp file on usepa's swmm5 windows program and on this repo's linux binary run-swmm (built using cmake), I get different nodal lateral and total inflows.

[ScenarioF10.inp.gz](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/files/1530753/ScenarioF10.inp.gz)

The discrepancy appears to be caused by the direct inflows. When I set the direct inflows to zero,

[2017-12-05 11:45] bemcdonnell commented on #113
@ggerber, thanks for sharing! Just out of curiosity; which version did you checkout and build work cmake? Was it on the develop branch?

[2017-12-05 11:57] bemcdonnell commented on #113
Also, does the windows build act the same way?

[2017-12-05 12:10] ggerber commented on #113
Hi,
I used the develop branch from this morning for the linux build.
I used usepa's windows build (
https://www.epa.gov/water-research/storm-water-management-model-swmm) to
compare.
I have not tried to build the windows version.
Will this bug be elevated to the correct forum? If not, which forum do you
think I should notify?
Kind regards

On 5 December 2017 at 13:57, Bryant E. McDonnell <notificat

[2017-12-05 12:27] bemcdonnell commented on #113
We will look into it right away

[2017-12-05 22:25] michaeltryby commented on #113
@ggerber What compiler did you use for the Linux build? gcc or something else?

Comparing mingw gcc to msvc on Windows I am unable to recreate this bug.

[2017-12-06 04:41] rkertesz commented on #113
Just adding my two cents. I wanted to remove two things from the equation (1) it works on my machine, and (2) Linux vs windows. So, I got @jalessio's docker image from https://hub.docker.com/r/jalessio/stormwater-management-model/

I then proceeded to run the input file through the swmm5 application in the container.
I then proceeded to delete the swmm5 application to prevent accidentally running

[2017-12-06 05:00] ggerber commented on #113
Hi Michael,
Please find below my build log below.
Strange, I did not get the sudo make install error yesterday...
Would you like a copy of my run-swmm binary?
The simple two node example I posted yesterday now works.

I am busy re-running my real life example (attached). On windows it took a
minute or so to complete. Previously on linux it took 2 minutes or so. On
linux it is now running for more

[2017-12-06 06:43] ggerber commented on #113
Hi,
Ok I figured out what happened...
The latest version did not build due to cmake not finding swmm5.h
I then reverted back to an older version that did build.
The older version of swmm that I used I got from the repo on 24 July 2017.
This older version has the inflow conversion issue. Confirmed it 5 minutes ago.
Apologies for thinking I used the latest version.
Is it possible to get cmake workin

[2017-12-06 12:40] bemcdonnell commented on #113
@ggerber, I’m glad to hear this is working now. We caught this bug several months ago an I was surprised to see this come up again.

@michaeltryby and @rkertesz, thanks for running the build tests! I owe you both a beer :-)

[2017-12-06 12:40] #113 closed

[2017-12-06 22:36] lrntct opened #114 "Can't build swmm5 with conda-build"
I've followed the instruction in #74 to build the software and got the following error:

[code]

However, if I do:

[code]

The build works properly.
OS: Ubuntu 17.10
swmm version: 56fd8b20cd

 Any idea?

[2017-12-06 22:49] bemcdonnell commented on #114
@lrntct, something was updated when the latest Anaconda came out with removed some dependency libraries required by cmake. This is why both Travis and Circle CI are failing.

have a look at pr #107. Since at this point we’re not so concerned about deploying our builds off, I invite you to simplify the build inside CI to a more typical approach for a C project.   You can update the travis CI and ex

[2017-12-06 22:57] bemcdonnell opened #115 "swmm_~~~~~getResults function declarations missing from toolkitAPI.h"
I might have removed these by mistake. This is a reminder for me.

[2017-12-06 23:10] bemcdonnell opened #116 "Roadmap Meeting Schedule"
The project is getting more popular which is incredibly exciting! I think we need to have a roadmap meeting soon to talk about recent history and future of the code base. Developers welcome.

Some topics to cover:

### Recent History

1. Contribution workflows
2. Contributors License Agreements
3. Toolkit API
4. Contributions by USEPA for Regression testing within our CI frameworks.

### Au Futur

[2017-12-06 23:24] lrntct commented on #114
@bemcdonnell OK, I'll try to update the Travis build by using CMake instead of conda-build.
On a side note, what is the reason of having both TravisCI and CircleCI? It seems to me that Travis can do the same as Circle, even a bit more (OSX). Removing one of them could lower the hassle of having to update 3 CI configurations when changing something.
I'll try to create a multi-OS .travis.yml and see

[2017-12-07 00:01] bemcdonnell commented on #114
@lrntct, we were spreading different platform builds across CI servers for efficiency. I really like what @goanpeca has put together on Circle. Soon we are going to fully enable the code formatter enforcing (waiting till we finish the regression testing to do this)  which are all part of the conda framework. Moreover, Circle CI will also be very helpful to deploy builds to Conda (to support the py

[2017-12-07 00:04] goanpeca commented on #116
Hi @bemcdonnell maybe we could schedule a meeting to go over these issues and make it recurrent every... X days or something? and we can also arrange so that they get recorded.

Thoughts?

[2017-12-07 00:10] goanpeca commented on #114
@lrntct the thing is that using Travis for building OSX stuff takes forever unfortunately, and for sing linux, circle ci is much faster, that is the reason of using circle ci. I am in charge of all the CI infrastructure and I will try to document it more so that it is clear why it is done the way it is.

I know that there is a current plan by @bemcdonnell to switch back to VS instead of conda to r

[2017-12-07 15:42] lrntct commented on #114
@goanpeca If the ultimate goal is to build the conda packages on conda-forge, then in there current form the CI infrastructure is more to test the conda packaging I guess?

@bemcdonnell @goanpeca Should I work on updating the Travis recipe or not?

[2017-12-07 16:07] goanpeca commented on #114
The idea of using conda and conda-build is to have a ready to use Develop version every time a Pull Request is merged during Dev Process, which gets uploaded to https://anaconda.org/owa

So that users can then do

[code]

Not really Conda forge will be used to build the official conda packages that will be available to the general public via

[code]

I say no, but I don't what is @bemcdonnell 's p

[2017-12-07 16:32] lrntct commented on #111
@RudyFrom3 It seems to me that those documents are more like general design guidelines that call for a "safety factor", more than the actual occurring clogging, and even less how the blockage build-up in time during an event.
We could potentially add a inlet efficiency coefficient, but it might be redundant with the weir and orifice coefficients. Furthermore, clogging is not the only source of inl

[2017-12-07 16:35] lrntct commented on #111
As for representing multiple inlets, creating multiple smaller junctions (see #112) might be the easiest way to do it, instead of setting complex multiple-linking elements.

[2017-12-07 17:01] samhatchett commented on #116
sounds good. how/when do you care to meet? will you doodle something?

I will also submit to the docket that I'm growing increasingly concerned about tooling overhead - the various CI integrations, enforcements, and conda business are all very confusing and seem to be causing issues for potential contributors. I don't have an easy answer to any of this, but that's why I bring it up.

[2017-12-07 17:08] lrntct commented on #116
I have yet to contribute any code, but I'm interested to meet.
@samhatchett I believe that more documentation of the tools is needed, and that it should be easier for a new contributor to know where the project is going and why, and which kind of contributions are needed/welcome.

[2017-12-07 17:52] lrntct opened #117 "NRTesting failing"
I followed the indications from the test README and ran into the following error:

[code]

Other combinations of json/inp give the same error.
OS: Ubuntu 17.10
swmm version 56fd8b20

Any idea?

[2017-12-07 18:59] abhiramm7 commented on #116
Meeting seems like cool idea.

[2017-12-07 19:20] bemcdonnell commented on #116
I will setup a Doodle for next week (I’m away from my desk until Monday). Until I get back; let’s shoot for late next week.

[2017-12-07 19:48] bemcdonnell commented on #114
@goanpeca,

I’ve been thinking about this project independent from pyswmm. Since this project is fundamentally a C Project, I think distilling our CI servers down to clean an simple processes (with emphasis on efficiency) is where we want to go. The regression testing workflow is complete and it’s time that we focus on getting these integrations outfitted with the tests.

The release channel that

[2017-12-07 20:23] RudyFrom3 commented on #111
I would have thought that the NODE simply be given some surface OPENING characteristics that define how FLOW from the surface enters the NODE. The NODE is simply a small storage that is part of the the internal transfer between links, and allows for additional surface flow to enter through the OPENING that is on the surface. Typically the opening would act as a weir initially and then at some high

[2017-12-07 20:25] RudyFrom3 commented on #112
The surface area of a node, is very often not the opening area that presents on the ground surface. The NODE is in fact a small storage where the internal depth and area define that storage. However the inflow characteristics are defined by a combination of EFFECTIVE weir length and EFFECTIVE area, or more simply by a rating curve of Depth Versus Flow. Possibly calling this the Internal Horizontal

[2017-12-07 20:27] lrntct commented on #114
About the packaging and interaction with pyswmm, I already gave my opinion in a [pyswmm issue](https://github.com/OpenWaterAnalytics/pyswmm/issues/133). I think that when the SWIG interface will be ready, the swmm repo could accommodate a conda and pypi recipes to build and package the code. It will not be a major part of the repo nor require a big knowledge of python. Then, pyswmm could depends o

[2017-12-07 20:33] lrntct commented on #111
@RudyFrom3 I agree with you. That is why I was proposing a a "manhole cover" object. See my post above.

But this does not negate the need of a way to set the manhole (not opening) area individually.

[2017-12-07 20:34] lrntct commented on #112
@RudyFrom3 This issue is about setting the manhole surfaceArea, not its opening. Those are two different matters. See my answer in #111.

[2017-12-07 21:08] michaeltryby commented on #117
@lrntct you need to pass the json file describing the test to `nrtest` not the inp file. Like so
`$ nrtest execute apps/swmm-5111_x64.json test/examples/example1.json`
Also, you need to have the .exe file described in swmm-5111_x64.json on your path.

[2017-12-07 21:23] michaeltryby commented on #114
Good discussion guys. Just to weigh in here with my two cents. For the record I want to state that I am not opposed to conda packaging. The question I have is, Is it really necessary for Travis, Circle, and AppVeyor to all use conda in order to conda package libswmm? I think there is an opportunity for us to have our cake and eat it too here if we can figure out another way to get packaging done a

[2017-12-07 21:29] michaeltryby commented on #116
Just to riff on @samhatchett concern a little bit. I think it is necessary for the project to incur some tooling overhead in order to achieve QA goals. Both projects are currently failing regression testing for various reasons. I agree that finding the right balance is key but I don't feel that we are there yet.

[2017-12-07 21:54] goanpeca commented on #116
I can write a document on the wiki to explain the ideas. I think the needs are, and pardon the use of `we` so loosely

### 1.) We want SWMM to be cross platform

- The first step to get this going is done, and may need some tweaks, and the idea is to use CMake.
- Anyone should be free to build their own local version of SWMM with cmake and it should just work

### 2.) We want SWMM to be cross plat

[2017-12-07 22:09] lrntct commented on #116
@goanpeca thank you for the explanation.

I might says that if you have a Python project, it must be on pypi. It is the official Python repository after all. From my little experience in a scientific context, my colleagues that use Windows use Anaconda, those that use Linux don't (I do not). I'm not against Conda, but it should not replace standard Python packaging imho.

C) How to run the tests t

[2017-12-07 22:14] michaeltryby commented on #116
@goanpeca Nice summary to which I would add:
0) We want SWMM to build cleanly and give "correct" answers on all supported platforms.

[2017-12-07 22:26] goanpeca commented on #116
We are talking about Swmm and not PySwmm. PySwmm is and will continue to be on pypi, that does not change. Conda has a source for recipes, so when building a python package we use pypi as source, and that source does not contain binaries or dlls, cause conda will have a separate package to provide that (libswmm and pyswmm depends on libswmm). For pypi only package the wheel will contain the binari

[2017-12-07 22:29] michaeltryby commented on #116
@goanpeca you see it as point 5. I see it as point 0. It as the first most important thing that we should be doing right now.

[2017-12-07 22:30] goanpeca commented on #116
Numbers were fro reference, I did not imply any direction in to what should be done first or note. But having a regression testing framework and not automated testing is not very useful is it ;-)

[2017-12-07 22:37] goanpeca commented on #116
There you go... updated ;-)

[2017-12-07 22:46] goanpeca commented on #117
@michaeltryby assuming someone has a clean install os Windows with nothin on it, what would be the steps to run the test suite. Any chance we could have those steps clearly described so we can post this inside the README of SWMM?

[2017-12-07 23:00] bemcdonnell commented on #116
@goanpeca, swig will eliminate the need for any of us to build swmm locally. @lrntct has some nice workflows in mind and I think many of us have valuable perspectives.

Pyswmm could do its auto packaging once code is merged into master. Instead of building with VS on my machine as we do today; a stable version of swmm can be specified to be wrapped up with a release version of a pyswmm wheel. If w

[2017-12-07 23:01] bemcdonnell commented on #116
Hang on... still working on he last comment. I hit the launch button on my iPhone by accident

[2017-12-07 23:11] bemcdonnell commented on #116
Ok. My comment is ready for parsing.

[2017-12-07 23:14] bemcdonnell commented on #116
Ok. My comment is ready for parsing.

[2017-12-07 23:46] goanpeca commented on #116
How?

This statement is simply not true for windows users, civil engineers or not.

The simplest thing is actually to install Anaconda which is a single click GUI installer instead of downloading `python.exe` and then `numpy.exe` and then `scipy.exe` and then `networkx.exe` from https://www.lfd.uci.edu/~gohlke/pythonlibs/ which is what people did for so long on windows until conda/anaconda/minicon

[2017-12-08 03:41] RudyFrom3 commented on #112
Ok... so the next phase of this is to discover how and where in the code to add these capabilities I guess ??

[2017-12-08 04:06] RudyFrom3 commented on #111
The only reason I think it would be useful for the Manhole Lid Object to have Multiple Child Objects that represent openings is as in the following example:
![image](https://user-images.githubusercontent.com/12844613/33750261-b990f830-dc26-11e7-8cef-8ad38565dca9.png)
Where the Grate has a Weir Length initially (Pink Lines) then an Effective Area (The openings in the grate) and the Kerb Inlet has i

[2017-12-08 04:14] lrntct commented on #116
@goanpeca

With the SWIG interface, libswmm could become a C python package, isn't it? Since swmm does not depends on anything beside libc, it might be reasonably possible to create a wheel package for libswmm. If it is too much of a hassle to have it work on many platforms, then I would understand  not doing it.

For the time being, a bit more information on how to run the regression tests (and m

[2017-12-08 04:18] lrntct commented on #112
I already have the code working. I just need to make sure to update the `fullVolume` when updating the `surfaceArea`. I hope to make a PR on Friday.

[2017-12-08 05:36] lrntct commented on #111
@RudyFrom3 Maybe one `Node` object could have multiple `nodeOpenning` objects to take into account those cases?
But then again, this type of approach implies substantial changes in the swmm code.

As a first step, we could consider that the nodes are circular and have one opening of the size of the node `surfaceArea`. It is far from perfect and it is a strong simplification, but the implementation

[2017-12-08 05:43] lrntct commented on #111
Another thing to think about is what happen to the overflow and ponding calculations that are already present in swmm.

[2017-12-08 14:50] michaeltryby commented on #117
The readme is located [here](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/tests/README.md). It needs to be updated.

[2017-12-08 14:58] michaeltryby commented on #117
I will update the [readme](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/tests/README.md) and then close this issue.

[2017-12-08 15:16] michaeltryby commented on #116
@goanpeca I use conda and think its great and I agree with many of your stated objectives. However, I am not convinced that Conda is the best approach for accomplishing them for swmmlib or epanetlib.

For example, regression testing has been integrated with Travis over on the [EPANET side](https://travis-ci.org/OpenWaterAnalytics/EPANET/builds/313072059). This was accomplished using cmake, swig, p

[2017-12-08 15:27] bemcdonnell commented on #116
@goanpeca, with swig support we can issue a release here in the GitHub page.. then on the pyswmm CI servers, we can fetch the code from the release here, build it with swig, package it, and deploy to wherever. Our users would not need to generate any libraries locally. Our developers will generate libraries locally.

[2017-12-08 15:30] bemcdonnell commented on #116
We will never have synchronization issues between the two projects If the pyswmm project has one single collection of files.

[2017-12-08 15:46] michaeltryby commented on #116
@bemcdonnell Perhaps this will make more sense to other people once we swig the swmm toolkit.

[2017-12-08 16:20] lrntct commented on #117
@michaeltryby My bad, I read the readme too fast.
However, the test is still failing:
[code]

[2017-12-08 16:31] goanpeca commented on #116
@bemcdonnell

This should never be the case and if this is the case the whole process is broken... but we already knew that

This is how it should always be... I don't understand what you are trying to clarify?

This is not related at all to the use of SWIG or the use of CONDA or the use of PIP. This is a problem of the **current development workflow**.

---

@michaeltryby I understand but what I

[2017-12-08 16:59] bemcdonnell commented on #116
@goanpeca, could you please provide us with a list of open source projects written in C where the conda workflows that you propose are being leveraged?

I have every intention of building with all of the necessary compilers. It is way more important that we pass the regression tests today.

Some of us have invested a lot of time and money into this project.  We all need to be comfortable with the

[2017-12-08 17:11] samhatchett commented on #116
@goanpeca I think Bryant was referring to your comment "We can also setup CI so that we can ourselves make the releases of exe etc, via CI, but this is not something we should do manually on someones home computer, that just does not cut it." - So are you saying different things? I am confused.

Like Michael, I am convinced Conda is wonderful. Though I do not use it, even as a member of the scient

[2017-12-08 17:37] jrwalt4 commented on #116
Hey guys, is this meeting open to the public, or by invite only? I'm based in Louisville, but would love to be a part of it.

I don't know most of you, though I met @samhatchett years ago when I was a grad-student at UK.  I'm interested in the direction SWMM is headed and I'd love to contribute if possible; hopefully offer some perspective on how we use SWMM for our modeling/design projects at Sta

[2017-12-08 18:21] bemcdonnell commented on #116
@jrwalt4, sure - we can open it up to some others! I’ll put a doodle up on this issue when I get back.

[2017-12-08 18:37] goanpeca commented on #116
@samhatchett yes, that makes sense. I am in charge of conda packaging on that chart and I will take that part ;-).

Now, all this discussion I think stems from not having clear build instructions and test instructions for contributors.

We need to update the README.md to include that, which needs to include all dependencies needed with some base systems. In my suggestions it would look like:

---

[2017-12-08 18:48] goanpeca commented on #114
We need something like on the `README.md`, or as a `CONTRIBUTING.md` or `BUILDING.md` file.

Suggested content  @michaeltryby @bemcdonnell.

---

# I.a. Development environment (Normal Workflow)

## A.) Windows

### Install Dependencies

- Visual Studio C++ 10. Link to download
- Install CMake >= `<VERSION>` Link to download
- Python 3.4. Link to download
- Install the nrtest dependencies..... Lin

[2017-12-08 18:53] dbhart commented on #116
*   > > Our developers will generate libraries locally.
  *   > This is how it should always be... I don't understand what you are trying to clarify?
  *   @goanpeca<https://github.com/goanpeca> I think Bryant was referring to your comment "We can also setup CI so that we can ourselves make the releases of exe etc, via CI, but this is not something we should do manually on someones home computer,

[2017-12-08 19:02] goanpeca commented on #117
Well the thing is that nrtest only runs against windows executables? so on linux or OSX we can't run nrtest in the current setup?

So we could maybe save the binary outputs ran on windows in another repository and use those as input for `nrtest` ?

[2017-12-08 19:03] bemcdonnell commented on #117
Platform agnostic. Michael currently has this implemented in Travis on SWMM and EPANET.

[2017-12-08 19:04] goanpeca commented on #117
Ok, then we really need to update those instructions

[2017-12-08 19:23] goanpeca commented on #114
@bemcdonnell I can start working on this PR to update all this but I would like to know what you think

[2017-12-08 19:34] bemcdonnell commented on #117
@michaeltryby, I’m really excited about your nrtest contributions to this project! :-)

[2017-12-08 20:37] goanpeca commented on #117
@michaeltryby lets close after merge :-)

[2017-12-08 22:09] goanpeca commented on #114
@lrntct you can update travis, but before we do that we first need to define what is the base system we will use. Using whatever is on travis its ok, to have a generic testing infrastructure, but if ww plan to build binaries and upload these as artifacts somewhere we need to define system specs and enforce them on travis.

[2017-12-09 14:22] dcalsky opened #120 "Summary statstics cannot be found in output file"
I can't find any summary statistics(_figure1_) in output(*.rpt) file. But I can find them in the output file generated by **Windows SWMM software**. How can I get them on **Linux or macOS platforms** by Pyswmm or other approaches?

Such as following **node inflow summary statistics**, I can't find it in the output file.
![figure1](https://user-images.githubusercontent.com/9463958/33796419-d0abd338

[2017-12-09 14:48] goanpeca commented on #114
My apologies for being so pushy on this (conda) subject. I understand at the moment is not a good choice for CI or development workflow if someone has not used it before. I will be in charge of making the conda packages once we can sort out the nrtest regression tests on CI based on the work by @michaeltryby. Cheers.

[2017-12-09 14:48] goanpeca commented on #116
My apologies for being so pushy on this (conda) subject. I understand at the moment is not a good choice for CI or development workflow if someone has not used it before. I will be in charge of making the conda packages once we can sort out the nrtest regression tests on CI based on the work by @michaeltryby. Cheers.

[2017-12-09 16:47] michaeltryby commented on #116
@goanpeca check out the feature-nrtest branch. nrtest is already configured to work under Travis. Just merge the branch.

[2017-12-09 16:49] goanpeca commented on #117
This is still an issue. See https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/pull/121

[2017-12-09 17:37] michaeltryby commented on #117
Nrtest is documented, there are SWMM instructions, there is a working example of it running under Travis CI.

[2017-12-09 17:37] #117 closed

[2017-12-10 14:11] lrntct commented on #111
I'm working on an implementation. It might take some time before it is functional.

[2017-12-10 14:22] dickinsonre commented on #111
You should also worry about what happens when a manhole surcharges as it shifts to a new node solution when the depth in the node is above the ycrown of the highest connecting link to the node.  It might be cleaner to just have storage nodes connect to a 2D mesh.

[2017-12-10 15:09] lrntct commented on #111
@dickinsonre Thank you for your comment.
I think you refer to what is done in `setNodeDepth()`?
Why is a surcharged node treated differently? If it is for stability, what would make a storage more stable?

[2017-12-10 15:39] dickinsonre commented on #111
A quick answer and a better answer is  to took at the EPA Hydraulics manual for SWMM5,  Lew Rossman does a great job of presenting HOW the Surcharge solution is different than the normal node continuity equation.  Here is a link as well as on OPENSWMM.ORG
https://www.openswmm.org/Topic/4341/surcharged-conduits-and-phantom-storage
talks about problems with tunnels and the surcharge algorithm.  If i

[2017-12-10 18:28] dickinsonre commented on #111
Thinking about this more there might be a simple flag that can be added to make the solution for storage or surcharged node transparent to the user.  A key engine parameter is called yCrown (the crown of the highest connected pipe to a node),  The program shifts to the surcharge algorithm at 0.96 * yCrown.  If you change the code so that a 2D node has  a yCrown above the rim elevation of the node

[2017-12-10 19:24] lrntct commented on #111
@dickinsonre Thank you ery much for your comments.

I read the relevant part in the swmm hydraulic manual. I think I understand HOW the codes that update H for surcharged node and storage nodes are different. What I still fail to understand is WHY it is different. In dynamic wave routing, a node will always have a `minSurfaceArea` and a volume. So it is a kind of simplified storage. AFAIU, a stora

[2017-12-11 00:01] dickinsonre commented on #111
It is always better to use the existing code.  You can automatically make a new orifice and/or weir in the engine to communicate flows.  Key code from SWMM5 for the handling of the calculation of depth in junctions, storage nodes etc

void setNodeDepth(int i, double dt)
//
//  Input:   i  = node index
//           dt = time step (sec)
//  Output:  none
//  Purpose: sets depth at non-outfall node a

[2017-12-13 14:25] goanpeca opened #125 "Update some information on the requirements file"
Gonzalo asked:

Mike answers:

[2017-12-13 16:28] bemcdonnell opened #126 "Update and check VS Compile Flags for CMAKE"
- [x] Floating point model -> Precise /fp:fast
- [x] Runtime Library -> Multi-threaded DLL (/MD)
- [x] Optimization -> Maximize Speed (/O2)

.. will add more as soon as I dive back into this.

[2017-12-13 16:30] bemcdonnell opened #127 "Fix Travis tests (installation directory changed from CMAKE)"
CMAKE installation directory changed and Travis needs to be updated.

[2017-12-13 16:50] michaeltryby commented on #127
We are doing an "out of source build" using cmake. Therefore, the cmake file should be rolled back to its original configuration.

[2017-12-27 19:50] #127 closed

[2017-12-28 17:50] bemcdonnell opened #129 "Add Changelog.md"

[2018-01-10 21:33] #115 closed

[2018-01-12 16:43] michaeltryby opened #132 "Configure testing to automatically run all the tests in swmm-nrtestsuite/tests"
Currently, `run-nrtest.sh` is configured to run only the `examples` battery of tests. Benchmarks for the other tests in nrtestsuite need to be added and `run-nrtest.sh` needs to be configured to run them.

[2018-01-17 16:47] michaeltryby opened #134 "Push Build Artifacts AWS-S3"
On Appveyor it looks like you are able to associate and retrieve artifacts with a CI build.
https://help.appveyor.com/discussions/questions/1649-how-to-keep-a-build-artifact-when-tests-fail

This could be useful for solving build and testing problems on the CI server.

[2018-01-17 16:49] michaeltryby opened #135 "Update `nrtest` instructions with step-by-step instructions for local testing"
The instructions for running `nrtest` found [here](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/tests/README.md) need to be updated so developers can more easily run test locally.

[2018-01-17 19:34] michaeltryby commented on #134
The best way to implement this would be to persist `nrtest` benchmark comparison results in a "receipt.json" file that could be parsed on failure post-test. Then the artifacts from failing tests could be easily identified and cached for retrieval.

Created Issue [#17](https://github.com/davidchall/nrtest/issues/17) over on the `nrtest` repo to discuss this with the `nrtest` developer @davidchall.

[2018-01-27 23:33] bemcdonnell opened #137 "Rainfall API (for toolkit API)"

[2018-01-27 23:45] dickinsonre commented on #137
Just curious, the idea here is to switch rainfall files during a simulation?  For example, one month can use a different rainfall file than a previous month?  In the native SWMM5 engine, the rainfall is saved at the start of the simulation to a binary file.  I guess you can just redo the binary file every once in a while?

[2018-01-28 00:14] bemcdonnell commented on #137
@dickinsonre - I'm writing up some comments on his PR. I suspect we are going to overlap with some of our comments. :-)

[2018-01-28 00:28] bemcdonnell commented on #137
But before I finish my comments - The idea of these API functions is to fetch current rainfall rate for a RG and also to set rainfall rate at a RG (overriding the internals).  I didn't want to leave it too suspenseful in case I can't finish my review on @abhiramm7's work tonight.

[2018-01-28 06:14] #126 closed

[2018-01-30 16:05] michaeltryby opened #139 "Broken link in README.md"
Link to instructions for regression testing is broken.

[2018-01-30 16:08] #139 closed

[2018-01-31 14:11] #3 closed

[2018-02-03 11:36] dickinsonre opened #140 "Screenshot of the NRTEST comparison results"
@michaeltryby do you have a screenshot of the results of the NRTEST on one of the platforms?  Do it simply say passed or not passed for all of comparison files.  I wanted also to add some of the more complex test files for SWMM5 to you JSON and benchmark repository.  Lew Rossman suggested adding User1, User2, User3, User4 and User5

[2018-02-03 16:14] michaeltryby commented on #140
@dickinsonre you can access the latest regression testing results on the CI server by clicking on the Appveyer or Travis status badges. Nrtest is setup to run automatically when there is a transaction on the repo. Right now it is set up to compare report files and binary files and indicates pass no pass. Nrtest can be run remotely or locally. You can run nrtest locally in a debugger if you are int

[2018-02-05 16:39] michaeltryby opened #141 "Setup Coveralls/Codecov to generate test coverage metrics"
I wonder how much of SWMM actually gets tested when the regression test suite runs?

Now that we have `nrtest` running under CI, a useful next step would be to configure Coveralls and generate test coverage metrics.

[2018-02-05 17:07] michaeltryby commented on #134
@bemcdonnell I think it would be a lot easier and more straight forward to just configure the built in facility Appveyor has for saving artifacts and accessing them from the build status page.

[2018-02-05 17:27] dickinsonre commented on #141
You do need more complicated models (but still small) to show all of SWMM.  I am adding some water quality models to your JSON list soon (this week )

[2018-02-05 18:41] michaeltryby commented on #141
@dickinsonre by configuring [Coveralls](https://coveralls.io/) we can measure and see coverage in the code. This would allow us to be more targeted in our testing effort.

[2018-02-06 16:53] #140 closed

[2018-02-06 16:55] dickinsonre commented on #140
Thank your very much, @michaeltryby

[2018-02-07 15:07] dickinsonre opened #143 "JSON File Description"
It is not an issue but I thought this article of JSON format was interesting and informative
https://blog.apisyouwonthate.com/the-many-amazing-uses-of-json-schema-client-side-validation-c78a11fbde45

[2018-02-07 23:37] bemcdonnell opened #144 "Add enum types for the API"

[2018-02-07 23:37] bemcdonnell opened #145 "Add relevant objects to API"

[2018-02-08 00:45] lrntct commented on #2
One great addition would be to be able to add or remove objects from the simulation.
As of now, the objects are stored in arrays of structs. My basic C knowledge tells me that resizing an array is not a very efficient operation, so it might not be ideal to add objects one by one.
One possibility would be to change the data structure and maybe use one from C++ (std::vector?), but it will be an impo

[2018-02-08 13:05] #116 closed

[2018-02-08 18:00] bemcdonnell commented on #2
@lrntct, I'm in agreement.  I've read up on a few strategies to accomplish what we are trying to do.  I just read one thread that essentially does a `realloc` but instead of adding a single item at a time, it adds a buffer of x number of items.

https://stackoverflow.com/questions/12917727/resizing-an-array-in-c

If we can pre-process an entire network before starting a simulation (which I imagine

[2018-02-08 18:26] samhatchett commented on #2
we've done some similar work on EPANET -> https://github.com/OpenWaterAnalytics/EPANET/issues/43  and  https://github.com/OpenWaterAnalytics/EPANET/pull/88

In basic form, we do use a realloc - which may end up being inefficient, but the primary purpose of the addition was to expand what was possible to do with the toolkit. And once we build and profile that capability, we can then optimize. And s

[2018-02-09 14:11] michaeltryby commented on #57
@goanpeca, @samhatchett, @bemcdonnell  I have been experimenting with various unit testing frameworks while writing tests for the `outputAPI`. I have looked at `gtest`, `boost test`, and `ctest`. They all offer the established test writing patterns. So actually writing tests using them is more or less equivalent.

I am also considering how these tools would fit into our CI workflows. `gtest` and `

[2018-02-09 20:47] abhiramm7 commented on #57
@michaeltryby @goanpeca @bemcdonnell @samhatchett We could try hosting our own CI on AWS (e.g. Jenkins can be hosted on AWS). I use [Jenkis](https://jenkins.io/)  for an other project I am working on, its open source and highly customizable. We should not have any issues running gtest, CMake or any other thing testing tool we might add in the future. The only issue, setting up Jenkis initially is

[2018-02-10 03:45] #132 closed

[2018-02-12 14:43] michaeltryby commented on #57
@abhiramm7 a significant advantage of using CI services like Travis, Appveyor, and Circle is that anyone who forks the repo can also run them. If we used a custom Jenkins CI server no one else could run it but us. Also as you say going with Jenkins would't eliminate setup headaches. We would just be trading setup headaches of one type for another.

[2018-02-12 15:55] michaeltryby commented on #57
The issue with boost test is getting it installed on Travis. Boost 1.65.1 is available on the Travis OS X server as part of the build environment. But it's a custom install on Trusty ...

Upon further inspection it looks like libboost-test 1.54.0 and 1.55.0 are available via apt-get so maybe this isn't so difficult after all.

[2018-02-13 16:43] michaeltryby commented on #57
@samhatchett would you mind sending/posting those CMake files with the boost test targets you mentioned yesterday? I'd appreciate it!

[2018-02-13 20:38] michaeltryby commented on #57
Link for future reference: [Unit Testing with CMake and Boost Test](http://neyasystems.com/an-engineers-guide-to-unit-testing-cmake-and-boost-unit-tests/)

[2018-02-15 05:33] bemcdonnell opened #147 "Clean up toolkitAPI.c"
Fix multiple `return` functions.

[2018-02-15 15:13] michaeltryby opened #149 "Automate software packaging and distribution"
We need to focus on DELIVERING our software.

[2018-02-15 16:06] bemcdonnell opened #150 "Auto-doc builds in CI server"
I'm thinking the `develop` branch can be configured to have docs built automatically.  Maybe on CircleCI?  I opt for CircleCI since all it is doing right now is sending me three emails when it fails :-)

[2018-02-15 16:08] bemcdonnell commented on #150
Just a fun note. We are hosting doxygen built docs on our gh-pages branch.  The web version is visible here: http://wateranalytics.org/Stormwater-Management-Model/index.html

This is auto setup to build for LaTeX if desired.  Docs look like this:
[refman.pdf](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/files/1728402/refman.pdf)

[2018-02-15 16:10] #52 closed

[2018-02-15 23:22] bemcdonnell opened #151 "Add CLI with Simulation Control Options"
`swmm5.exe <.inp> <.rpt> <.out> -st "01/02/2008 00:00:00" -et "01/06/2008 00:00:00" `

[code]

And update progress bar

[2018-02-15 23:29] #144 closed

[2018-02-15 23:29] #145 closed

[2018-02-15 23:29] #147 closed

[2018-02-21 15:12] bemcdonnell commented on #151
Example from Redis:

[code]

[2018-02-22 15:20] bemcdonnell opened #152 "Port project to MSVS (2010) 64-bit compiler"

[2018-02-22 15:21] bemcdonnell opened #153 "Port Project to Linux 64-bit Compiler (GCC)"

[2018-02-22 15:28] #49 closed

[2018-02-22 15:45] bemcdonnell opened #154 "Web-based editable version of SWMM Reference Manuals"
This task will involve converting the current SWMM User's manuals into a web-based version controlled searchable document. The document will need to follow the current release version of this SWMM project.

- Maybe a Wiki?
- Maybe a website?

Let's talk about the options.

[2018-02-22 15:48] dickinsonre commented on #154
I would suggest Confluence or Mad  Cap Flare.  You can get a good overview of free, cheap not so cheap Wiki's on Wikpedia  https://www.wikiwand.com/en/Comparison_of_wiki_software

You use the Wiki to make a searchable web site so for this to work you need to host files

[2018-02-22 16:09] michaeltryby commented on #154
The "Users Manual" as it stands now is more associated with the UI Application than the SWMM Engine. I would prefer to see the Users Manuals stay that way and would like to use Python centric tools for writing / publishing them (i.e. Sphinx and ReadTheDocs).

[2018-02-22 16:10] bemcdonnell commented on #154
@michaeltryby - I really meant reference Manuals (Changing the Issues Title Now)...

[2018-02-22 16:12] michaeltryby commented on #154
Ok well that is a huge undertaking. They were just finished by Lew and published by the EPA. I don't see this as a priority until they require updating.

[2018-02-22 16:14] lrntct commented on #153
Last time I tried, SWMM compiled fine with GCC. What issue do you think need solving?

[2018-02-22 16:17] bemcdonnell commented on #153
@lrntct - it compiles fine but there are some options that need to be configured so that all the regression tests past.  For example, with MSVS2010 we require a fast floating point flag.  Such compiler options need to be explored for GCC compilers on Linux.

[2018-02-22 16:17] michaeltryby commented on #153
When SWMM 64 bit is compared to SWMM 32 bit their are significant differences between the two that require investigation and resolution. The differences show up and differences in the arrival time of peak flows.

[2018-02-22 16:20] michaeltryby commented on #153
@bemcdonnell the code also needs to be ported to MSVC 64 bit.

[2018-02-22 16:29] dickinsonre commented on #153
hello @michaeltryby is there a single or group of test files that exhibit this arrival time of peak flows differences between the 32 bit and 64 bit engnes?  The test? or extran? series?

[2018-02-22 16:32] bemcdonnell commented on #153
@michaeltryby Hence, #152

[2018-02-22 16:33] michaeltryby commented on #153
@dickinsonre On Appveyor you can see the failing tests on the MSVC 64 bit build log.

[2018-02-22 17:56] samhatchett commented on #151
i would also encourage you to look at [boost::program_options](http://www.boost.org/doc/libs/1_66_0/doc/html/program_options/tutorial.html) - it's a very helpful utility for getting CLI arguments.

[2018-02-22 20:58] dickinsonre commented on #153
Thanks I will look there or make it myself or do whatever.  Generally, though you should not expect the same answer using 32 bit and 64 bit.  ....Even if the differences are minor, the fact that the simulation engine is solving a non-linear system means that the 32/64 bit simulations can differ

[2018-02-23 18:26] michaeltryby commented on #57
Hey @bemcdonnell I'm preparing to make a PR on this issue. Where would you like me to direct that?

[2018-02-23 18:28] bemcdonnell commented on #57
@michaeltryby, since you and I will be collaborating on this, please open up a new branch off of the current `develop` branch.  Please call this `feature-unittest`.

[2018-02-25 21:52] bemcdonnell opened #156 "Add LID support to API"

[2018-02-25 22:54] abhiramm7 commented on #156
@bemcdonnell Are you thinking about control of LID ? or just reading states from the LID process ?

[2018-02-25 23:00] bemcdonnell commented on #156
@abhiramm7, we have a new contributor and she is going to support this. I’m not sure what the scope of her work entails. @jennwuu, is working on it. @jennwuu, care to share the scope of your contributions and your plans?

[2018-02-26 01:09] jennwuu commented on #156
Hi all!

I plan to get results from LID process and change/read parameters for the LID as well.

[2018-02-26 01:44] dickinsonre commented on #156
hello @jennwuu - does that you mean you want to change the parameters seasonally or monthly?  Or do you want to add more report variables that are not currently in the LID Text files?  It might be interesting to see all of the structures in LID.H

[2018-02-26 02:03] jennwuu commented on #156
hi @dickinsonre for now I want to report variables that are found in LID detailed text files like total inflow, total evap, surface infil etc. per timestep, which are stored in waterBalance in TLidUnit I think. I also want the user to be able change the parameters in soil layer, storage layer, subdrain layer. I can try to do other variables though, I'm always open to ideas! What do you mean season

[2018-02-26 02:06] dickinsonre commented on #156
A simple example of this would be to allow infiltration parameters to change by the month.   Model evaporation and clogging  by the month.

[2018-02-26 02:09] jennwuu commented on #156
Oh that sounds like a cool idea! I'll try to see if I could implement something like that!

[2018-02-27 02:55] bemcdonnell opened #157 "Update .github/CONTRIBUTING.md for Windows and Linux"
I think it would be great if someone were to refine these step by step instructions for both Windows and Linux.

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/.github/CONTRIBUTING.md

Ideally we have a clear list of requirements for each platform... for example for Windows
- CMAKE
- VS2010 (Bryant uses 2012 since OpenMP complains)
- MSBUILD

Maybe add some screensh

[2018-03-05 22:48] michaeltryby opened #160 "Appveyor CI down: swig install error"
Appveyor CI is down due to a `swig` installation failure. This is due to problems with package download from Sourceforge being broken.

The archive swigwin-3.0.9.zip is getting downloaded in a text/html format instead of a binary format causing the decompression of the zip archive to fail. This appears to be an intermittent problem with Sourceforge downloads.

Potential fixes: One potential fix wo

[2018-03-05 22:58] bemcdonnell commented on #160
@michaeltryby, I prefer a slightly modified version of the latter as well.  We could go with your option of packaging the single `swmm-output` low level utility... or I wonder if we might package all of the extensions-to-be in one single package -> swmm-python.  This would contain all the built extensions for the outputapi and the toolkitapi.  Thoughts?

[2018-03-06 12:05] DJHostetler commented on #47
I am able to pitch in and help with this effort.

[2018-03-06 12:44] bemcdonnell commented on #47
@DJHostetler, awesome! Well this contribution can start from our develop branch.

[2018-03-06 13:09] bemcdonnell commented on #46
#47 for implementation discussion

[2018-03-06 13:09] #46 closed

[2018-03-06 13:23] dickinsonre commented on #47
The SWMM list is missing the LID sections and Events, and there are a few characters missing from some of the SWMM section names
  SectionWords : array[0..54] of PChar =                                       //(5.1.011)
    ('[TITLE',                    //0
     '[OPTION',                   //1
     '[RAINGAGE',                 //2
     '[HYDROGRAPH',               //3
     '[EVAPORATION',

[2018-03-06 13:59] michaeltryby commented on #47
@DJHostetler Great to have you aboard!

[2018-03-06 14:04] michaeltryby commented on #160
@bemcdonnell I'm glad you finally came around to my way of thinking. :smirk:

[2018-03-07 21:17] michaeltryby commented on #135
Unit testing has been added to SWMM. The testing instructions need to be updated to provide information on unit testing as well.

[2018-03-09 17:50] bemcdonnell opened #161 "Appveyor CI: Fixing Regression Tests"
### Lateral Inflow Bug:

A few months ago we discovered what we thought was a redundant line in the lateral inflow (see #61). Turns out that this change resulted in us failing two regression tests.  Lateral inflows were off by 0.001. This has been reverted back in the next PR coming in today.

### System Inflow Totalizers:

This change will actually be somewhat disruptive.  Before, when SWMM had a

[2018-03-09 19:21] dickinsonre commented on #161
Good catch @bemcdonnell

[2018-03-09 21:33] michaeltryby commented on #161
Looks like test "User 3" fails due to this change in the flow totalizer. So I guess we need to update the benchmark. We need to develop a process for doing this so we can keep track of how the benchmark changes over time and be able to reproduce benchmark results. Any thoughts?

[2018-03-09 22:23] #160 closed

[2018-03-09 22:26] michaeltryby commented on #160
This issue was resolved by caching the SWIG install. The cache updated when the build finally passed. We no longer need to download SWIG every time CI server runs a build.

[2018-03-09 23:01] dickinsonre commented on #161
How about just a note in the note section of the input file showing the old flow equalizer total and explaining the change in the code.  Or, how about a a more multi objective test that compares all of the flow totals in the links of the two model output files.

[2018-03-11 21:28] #143 closed

[2018-03-11 21:39] #114 closed

[2018-03-11 21:41] #125 closed

[2018-03-12 18:04] michaeltryby commented on #152
Now that we are hitting our MSVC 2010 32-bit benchmark we are positioned to port to MSVC 2010 64-bit. Because we have a 32-bit benchmark we can be confident that any differences between 32 and 64-bit are caused by the port. We need to make a reasonable effort to get the 32-bit and 64-bit results to agree then we can establish a 64-bit benchmark.

[2018-03-15 15:27] michaeltryby opened #165 "Decouple swmm-output python extension build from project build"
The Python extension `swmm-output` is a requirement for regression testing. Our current CI workflow builds `swmm-output` in-place and then builds the main project. So the `swmm-output` library actually gets built twice, once by Python setup and then again by CMake.

It would be a lot easier and more straight forward to build a binary wheel for `swmm-output` and cache it somewhere with a stable URL

[2018-03-15 20:32] #137 closed

[2018-03-15 21:41] michaeltryby commented on #165
I have created a Release - [swmm-output](https://github.com/OpenWaterAnalytics/swmm-python/releases/tag/v0.1.0-alpha) in the swmm-python repo and added 32 and 64-bit binary wheels for Windows. The requirements-appveyor file was set up to select the 32bit binary wheel when running on AppVeyor.

We need to do the same for Travis. I have done a little digging but can't tell if Ubuntu Trusty is runnin

[2018-03-16 12:57] michaeltryby commented on #165
Just to be clear, creating this wheel is just to keep CI operational while we rearrange the repo according to the excellent plan suggested by @samhatchett over in the OWA EPANET repo - Issue #[123](https://github.com/OpenWaterAnalytics/EPANET/issues/123)

[2018-03-20 18:31] bemcdonnell commented on #165
@michaeltryby, is this issue closed?

[2018-03-20 19:18] michaeltryby commented on #165
@bemcdonnell no this issue is still open. We have wheels for win32, win64, and Mac OS. We still need them for Ubuntu Trusty and I'm not sure if we need 32 or 64 bit.

[2018-03-26 01:47] stoiver opened #168 "Trouble Running regression tests"
Just tried to run the regression tests locally and get to the command

`
pip install --src buildprod/packages -r tools/requirements.txt
`

and get the following error

`include/swmm_output.h:98:32: fatal error: swmm_output_export.h: No such file or directory`

Here is the complete output:
[code]

[2018-03-27 00:13] stoiver commented on #168
I found out the problem. I had not setup swmm first! Following the template in .travis.yml worked fine. Though the tests did produce some failures on my local machine.

I would suggest adding an INSTALL.md to the repository.

My problem was that I went straight to the instructions in the README.md in the `tests` directory (which has a typo pointing to `--branch=feature-nrtest` in the `git clone` i

[2018-03-27 02:06] bemcdonnell commented on #168
@stoiver, the tests will most likely fail with a different compiler aside from MSVC2010-32.  There is a different issue addressing the goals for porting this codebase to other compilers including 64bit.

#152 and #153.

It well probably be easier to get the regression tests to pass, however, the RPT file diff is a byte-by-byte diff.   Would you be interested in taking on the issue to port to Linux

[2018-03-27 20:43] stoiver commented on #168
@bemcdonnell, can't promise too much time, but yes I would be happy to take on the Linux porting issue.

[2018-04-02 19:24] #135 closed

[2018-04-05 13:52] #168 closed

[2018-04-05 18:39] michaeltryby opened #170 "Reorganize reg testing"
Reorganize reg testing for SWMM like was recently accomplished for EPANET in PR [#166](https://github.com/OpenWaterAnalytics/EPANET/pull/166). This includes:

* Establishing a new repo for SWMM examples and tests;
* Creating a release in the new repo and storing files for reg testing there;
* Transferring reg testing files and staging them at build time using a script;
* Performing reg testing jus

[2018-04-06 16:42] #170 closed

[2018-04-06 18:01] bemcdonnell opened #172 "Add thread count control to API"

[2018-04-10 20:30] bemcdonnell opened #173 "API Turn on Object Setter Values"
The following link coefficients are not getting set yet.

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/src/toolkitAPI.c#L613-L618

[2018-04-10 20:34] bemcdonnell commented on #173
And in Subcatchments:
https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/src/toolkitAPI.c#L700-L703

[2018-04-11 03:47] bemcdonnell opened #174 "Decouple subcatch_readSubareaParams into Parse/Set functions"
This function currently reads tokens AND set the data.  Split into two so the API can leverage the setter functions as well.

[2018-04-11 21:02] bemcdonnell commented on #75
[code]

[2018-04-12 11:34] #173 closed

[2018-04-20 14:52] michaeltryby opened #176 "Create text file writer to encapsulate report file handle"
The report file handle is hanging out in global memory space. Code for writing to it is sprinkled across the entire application. This is most evident when logging warnings and errors to the report file. Furthermore, the code for writing and the content to be written is munged together.

I am currently wrapping global variables in a structure, but this is only perpetuating the problem. A better sol

[2018-04-26 19:39] bemcdonnell commented on #176
@michaeltryby, I like the idea of a log that can be separated from the report file.  In addition, we could log control actions outside in a controls.log file.  Just and idea.

[2018-04-26 19:45] dickinsonre commented on #176
I 2nd @bemcdonnell suggestion about  a log file.  So many users ignore the top of the rpt file.  A separate log file might be easier for them to pay attention to or at least learn to pay attention to the warnings.

[2018-04-26 20:12] bemcdonnell commented on #176
@dickinsonre, wait... warnings matter? 😄

[2018-05-03 12:30] bemcdonnell opened #178 "API theme discussion"
We’re reaching a point where the API could use some style checks. We have functions that scoop out larger sets of data and functions that pluck single values. The current api is absolutely functional, however, as it begins to grow, we will benefit from a unified vision.

@michaeltryby has been encouraging that we adopt a style that serves more data with a single call. For example, if we call swmm_

[2018-05-08 21:40] michaeltryby commented on #70
So I am nearly done with this task. I created a struct to encapsulate the static and global variables. It was a big job. While I was working on it, I had this nagging idea that there was another maybe better way to accomplish the same thing. I wanted to get the idea written down for us to think about.

What if we created a memory pool and gave each thread entering the library a unique handle to a

[2018-05-09 17:47] samhatchett commented on #70
maybe less invasive, but less clear from the API / code perspective what is going on. The structifying of SWMM is a solid move toward object orientation, and that's a 👍

[2018-05-09 18:03] michaeltryby commented on #70
I agree, the approach taken is a step towards object orientation.

The side effect of adding 10K pointer de-references, however, is that the code runs 28% slower for the largest model in the test suite.

[2018-05-09 23:51] michaeltryby commented on #70
I wrote a reentrancy test using pthreads. I successfully ran SWMM on ten threads. I will do more testing tomorrow.

[2018-05-14 15:39] michaeltryby opened #180 "Testing approach is needed to better support core engine development"
The current regression testing framework is useful for all kinds of development that doesn't alter simulation results. From time to time, however, it is necessary to make a change to the core SWMM engine to add a new feature, improve computational stability, or make the model more physically realistic. Currently, these scenarios cause our regression testing framework to fail. Simply making a chang

[2018-05-14 15:46] dickinsonre commented on #180
Great post @michaeltryby The system graphs in particular show so much about the functioning of the network.  A graphical and/or statistical comparison of the inflow, outflow, flooding, runoff, DWF, GW, RDII and other major components would easily reveal important changes. I am not sure about the instability indices reveling much.

[2018-05-14 16:17] samhatchett commented on #180
I think the discussion over on https://github.com/OpenWaterAnalytics/EPANET/issues/169 is completely relevant here. We're in the realm of theoretical correctness and statistical validity being a condition of passing tests.

[2018-05-15 14:02] michaeltryby commented on #70
So after more testing, it is clear that the SWMM dll is in fact failing the reentrancy test. The failure is related to the root of the memory pool. It is still a static local variable. The first thread to finish deallocates the pool causing the other threads using it to crash. When I tried wrapping the root in the global struct it caused a memory segmentation fault. At this point I figure there ar

[2018-05-15 15:02] samhatchett commented on #70
do you have a profile for the degradation you are trying to address? Maybe i'm a little lost on this, but moving in this direction before really discussing the performance degradation with the "structification" mods is premature. I'm probably lost though ;)

[2018-05-15 15:38] michaeltryby commented on #70
@samhatchett I am pushing forward to achieve the objective - reentrancy. Once the code is working then I will go back and optimize it for performance.

I just got my reentrancy test passing this morning using a thread_local storage duration specifier. The code compiles on Visual Studio 2010 and MinGW gcc. I tested using MinGW gcc and pthreads and I was able to perform two model runs simultaneously

[2018-05-15 16:27] samhatchett commented on #70
Does this mean that you can't have reentrancy with just the wrapper struct? Meaning, you can't encapsulate the memory pool in the Project? I guess looking back over the thread, I'm not clear on exactly what you are doing:

... If you think you are on a good track, then great - I don't have to understand it. But in trying to provide some feedback, I realize that I'm at a bit of a loss as to what yo

[2018-05-15 16:47] michaeltryby commented on #70
Ok I see the source of the confusion ...

What you have in quotes there in the post immediately proceeding this one is just an idea to think about. I haven't implemented it and have no intention of doing so. What I have done is wrap all global and static local variables in a structure and I provide a handle to the thread for that struct (the pattern you applied in EPANET).

While testing that impl

[2018-05-15 18:12] samhatchett commented on #70
Interesting - so to be clear, when you put the `alloc_root_t *root` in the SWMM_Project struct, it somehow created a segfault?

[2018-05-15 18:26] michaeltryby commented on #70
@samhatchett yeah that's correct.

[2018-05-15 19:38] samhatchett commented on #70
@michaeltryby can you say any more about the nature of the segfault? or why it occurred? or point to a commit where I can experience it first-hand? This is presumably an issue that may affect epanet as well, since the mempool implementations are very close.

[2018-05-15 21:02] michaeltryby commented on #70
@samhatchett I didn't commit the offending code to the repo since it didn't work. I mean, you aren't supposed to knowingly commit broken code. Right?

On my local machine I applied the wrapping pattern - moved root struct from `mempool.c` to the wrapper struct and added the function args to pass it from the wrapper struct through the mempool api and into the functions where it is dereferenced and

[2018-05-16 10:36] michaeltryby commented on #70
SWMM appears to be running slightly faster for small models and slightly slower for large ones. I think data locality and alignment issues are affecting performance.

[2018-05-16 14:47] samhatchett commented on #70
I get what you're saying, but not sure i would agree in general. There are valid reasons you would want to commit broken code, like for having design-related discussions.

I'm also wondering how the thread local paradigm would work for a single-threaded multi-simulation application. Like, run two models step-by-step with each other, but from a single thread. Would this break since both Projects ar

[2018-05-16 15:01] michaeltryby commented on #70
@samhatchett No I don't think it would. Thread local storage would only come into play if there were more than one thread. With the code the way it is now `static alloc_root_t *root;` there is only one memory pool no matter how many threads are using the dll. Making it thread local makes one memory pool per thread - one thread one memory pool, two threads two memory pools. So, for both cases if th

[2018-05-21 15:05] #120 closed

[2018-05-22 12:04] katmratliff opened #182 "add pollutant mass/conc getter functions"
currently implementing this as a concentration (rather than total load) by dividing the total (ponded + washoff) pollutant load in a subcatchment by the non-LID area * ponded depth.

alternatively, if the total load would be more practical for other considerations, I can just get the total load and create a PySWMM getter for the LID area and convert to concentrations outside of SWMM.

Let me know

[2018-05-22 12:12] dickinsonre commented on #182
The load in SWMM5 is calculated after the LID unit(s).  Why would you invoke only the non-LID area?  Are you only trying to estimate the concentration from the non-LID area of the Subcatchment?

[2018-05-22 12:26] katmratliff commented on #182
@dickinsonre I can certainly do all these different values separately (and agree it would be interesting to compare, as well as useful for our purposes), but then I think I should probably make a new structure for this pollutant/water quality info rather than flooding the subcatchstats struct. open to suggestions!

[2018-05-22 15:01] bemcdonnell commented on #182
@katmratliff, I have a thought for this discussion. Looking at opportunities for expanding our current function base, I wonder if it might make sense to migrate out pollutant getters to their own functions. I think the way you prepared this made sense at the time, but maybe we should expose separate functions like:

Swmm_getNodePollut
Swmm_getLinkPollut
Swmm_getSubcatchPollut

Args might be;

(obj

[2018-05-22 15:11] katmratliff commented on #182
@bemcdonnell I totally agree... this seems like a much better path forward!

[2018-05-22 15:16] bemcdonnell commented on #182
@katmratliff, if we follow this convention, we also get the added benefit of preparing the API for SWIG support. Take a look at how @michaeltryby wrote the OutputAPI:

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/tools/swmm-output/src/swmm_output.c

Once we write the interface file, we can auto generate the python wrapper.

[2018-05-22 15:44] katmratliff commented on #182
@bemcdonnell very cool and sounds like a good idea! I have not used SWIG before, but I'll try to dig into the OutputAPI and get a handle on how it all works.

[2018-05-25 14:48] michaeltryby commented on #152
Over at the EPANET repo Lew ported the dev branch to Visual Studio 2017 64 bit. We were pleasantly surprised that 41 out of 45 reg tests passed. Early indications are that porting SWMM is going to be more work. I propose we skip ahead to Visual Studio 2017 64 bit get the reg tests running and see where we stand. Thoughts?

[2018-05-25 14:58] bemcdonnell commented on #152
@michaeltryby, I haven’t been following the progress on EPANET directly. Are you going to massage the code/compiler options to pass the tests or will you update the benchmarks for the 2017 compiler?

[2018-05-25 15:04] michaeltryby commented on #152
Hey @bemcdonnell I'm going to start on Appveyor by getting SWMM building using Visual Studio 2017 64 bit and get the reg tests running. To evaluate where we are with respect to our benchmark.

[2018-05-25 15:10] bemcdonnell commented on #152
@michaeltryby, it looks like I have already setup appveyor CI for win64 - MSVC2017. Please leave it in the experimental group for now so that it doesn’t turn the badge green.

[2018-05-25 16:13] michaeltryby commented on #152
@bemcdonnell The Visual Studio 2017 build went well. It compiled and 20 out of 27 reg tests passed. 3 failed on report file comparison and 3 failed on binary file comparison. You can see the results [here](https://ci.appveyor.com/project/michaeltryby/stormwater-management-model/branch/develop/job/e4qpdjwv3tsmaxud#L30).

[2018-05-25 17:34] michaeltryby commented on #152
@bemcdonnell So I guess the next step is to investigate the nature of the test failures and make a determination as to what to do about each of them.

We were discussing this previously and you suggested forcing SWMM to continue using 32 bit integers. That was a solid idea.

[2018-05-25 18:19] bemcdonnell commented on #152
@michaeltryby, so to be clear, you’re talking about the strategy for the develop branch, correct?

[2018-05-25 18:29] bemcdonnell commented on #152
@michaeltryby, my question is more related to your starting point for this work (as opposed to where it will end up). I prefer this change build off develop and not a feature branch.

[2018-05-25 18:45] michaeltryby commented on #152
Here you go. You can merge PR #183 directly into dev.

[2018-05-25 23:40] #70 closed

[2018-05-26 13:45] michaeltryby commented on #154
@dickinsonre Really? Tens of thousands of students use the EPA download page every year. And I’m willing to bet they know how to use a pdf. This seems like a made up problem.

That said, like you I can totally see the benefit of publishing in html and having it searchable from google. Given that we just updated the reference manuals and the level of effort involved in a conversion, however, makes

[2018-05-26 14:06] dickinsonre commented on #154
@michaeltryby Yes, i will volunteer for this task and I must communicate with the wrong students as not knowing about  the PDF files is very common.  The students are not from the USA and there is often language problems as well.  They do love the PDF files once i or others point to the EPA URL.  The EPASWMM5 documentation is outstanding.

[2018-05-26 14:31] michaeltryby commented on #154
@dickinsonrm That’s great! What tools were you thinking of using?How and where were you thinking of hosting the documentation? It would be helpful to agree on some specifics.

[2018-05-26 14:41] dickinsonre commented on #154
@michaeltryby I can use MadCap Flare to import either the PDF file or the DOCX file created from the PDF File.  You can publish from MapCap Flare to a WebPage.  I have my own copy of the help file tool MadCap Flare (just for record keeping).  I have a 1 TB Box account but I am not sure if that is the best place.  I assume Amazon would be best?

[2018-05-26 15:37] michaeltryby commented on #154
@dickinsonrs couple of thoughts you may not have considered. While Madcap flare looks very useful it is a proprietary tool and some of the license options are quite expensive. This being an open source project we strongly prefer using open source tools. Since everything is volunteer based and we have no budget cost is a significant issue.

Another thing to consider is we want to simplify the docum

[2018-05-26 15:51] abhiramm7 commented on #154
I think https://www.gitbook.com could be a option, I don't know if you already looked into it.

[2018-05-26 15:56] michaeltryby commented on #154
Thinking about it more. I guess your idea is to convert what we have to html, post it, and call it done. We certainly could do that. However, we would still have the problem of the docs not being in a community editable format. And we would slowly accumulate technical debt as the software diverged from the documentation.

[2018-05-26 16:06] abhiramm7 commented on #154
An other option would be to host it on GitHub in markdown (e.g. https://keras.io ), with in the repository. This can be edited by the community, they would just have to submit it as a pull request.

[2018-05-26 16:09] michaeltryby commented on #154
Lastly, it would be useful if OWA could decide on a preferred set of documentation tools so we could standardize across projects.

[2018-05-26 16:53] michaeltryby commented on #154
So I think the real task here is getting SWMM ref docs into a community editable format like markdown. Once we accomplish that a lot of options for publishing the docs become possible.

[2018-05-26 16:56] abhiramm7 commented on #154
@michaeltryby, I am not sure on how they are currently formatted, If they are in Latex or word, the conversion would be relatively easy. https://pandoc.org, can do it for us. Doing it from pdf might be a bit involved process.

[2018-05-26 17:19] michaeltryby commented on #154
They are currently in Word and then converted to pdf and published.

[2018-05-26 21:28] abhiramm7 commented on #154
I can take a stab at converting them to markdown. @michealtryby can you direct me towards the document ? I couldn’t find it in the epa swmm web page.

[2018-05-26 22:35] bemcdonnell commented on #154
@goanpeca, did you say you found a tool to convert xlsx docs into markdown? Or did I make that up?

[2018-05-26 22:45] dickinsonre commented on #154
@bemcdonnell https://github.com/fanfeilong/exceltk  is among many such tools

[2018-05-26 23:35] michaeltryby commented on #154
@LRossman would you be willing to share your word files for the SWMM Reference docs?

[2018-05-26 23:38] michaeltryby commented on #154
There are also several pdf to markdown converters out there.

[2018-05-27 01:32] dickinsonre commented on #172
do you want to be a able to control the number of threads dynamically during the simulation @bemcdonnell

[2018-05-27 06:37] bemcdonnell commented on #154
@dickinsonre, I realize now that I said XLSX converter but I meant to say DOCX! #jetlagged

[2018-05-27 09:30] dickinsonre commented on #154
I use a few converters such as Nuance but it is not free to convert PDF to DOCX.  There are a few free online converters that work well such as http://pdf2docx.com/

[2018-05-27 11:33] bemcdonnell commented on #172
@dickinsonre, I’d like this to be available before the simulation starts. It will be a easy function to add. Essentially, it will override the number in the input file. It will be useful in optimization mostly. Moreover, it will be especially useful in the new threaded version of SWMM

[2018-05-27 12:13] bemcdonnell opened #184 "Add QAQC auto reporting tool"
As we work toward making releases, I believe it would be valuable to have a tool that automatically runs the benchmarks and plots/docs the results for the new version. It doesn’t need to be exhaustive for all objects / results - maybe the top differences.

### What this tool should use:
- Python / Matplotlib
- LaTeX

### What we should show:
- scatter plots of totalized and average values for all

[2018-05-27 12:29] bemcdonnell commented on #184
@dickinsonre, for previous "official" releases of SWMM, how many benchmark models were used?  And what was the process for cherry-picking results to present in the SWMM users manual?

[2018-05-27 12:47] dickinsonre commented on #184
@bemcdonnell We did have about 700 test models for SWMM 5.  You can see most of them on my Box account (I just made you and editor).  However, most of the files on Box suffer from the same problems as these test files (the user example files do look like real networks as they came from real networks).

Cherry picking, i don't know how Lew picked them but they seem to be most of the Extran3/4 files

[2018-05-27 17:12] abhiramm7 commented on #154
@dickinsonre, thanks for pointing out the pdf to doc converter. Making a markdown document from doc was relatively easy. But generated markdown document need a bit of post processing work, Here is a initial version of markdown version https://github.com/abhiramm7/scratch-/blob/master/output.md.

[2018-05-29 14:32] samhatchett commented on #154
Hi swmmers. I will just contribute a few thoughts, related to Michael's admonition to standardize. In my experience, markdown is great and can be transpiled to many different formats like latex, html, pdf... Also markdown plays really nicely with Doxygen, so you can have a common set of documentation for API and internals that gets auto-built and posted to the web with every tagged library release

[2018-05-31 08:52] dickinsonre commented on #184
Hello @bemcdonnell just to follow up on your cherry picking comment.  I went to the QA report on the EPA Download site and converted it to a DOC file.  The testing Lew Rossman did in the really nice STORM WATER MANAGEMENT MODEL QUALITY ASSURANCE REPORT: Dynamic Wave Flow Routing
involved three sets of data (1) the ten data sets from Extran3 and SWMM4, (2) SWMM5 test data sets (Challenge Test Cases

[2018-05-31 10:43] bemcdonnell commented on #184
@dickinsonre, excellent info! Thanks for diving into that!

[2018-05-31 10:47] dickinsonre commented on #184
@bemcdonnell My pleasure, however, it looks like a lot of work done by Lew to make that document.  It will be nice to have a complete automated testing with stats for every node, link, lid, gw, subcatchment etc etc.  that can be saved as log files for future backwards and forwards testing.

[2018-05-31 12:40] michaeltryby commented on #184
@dickensonre cool idea!

[2018-05-31 12:55] michaeltryby commented on #184
What if we develop this then morphed it into a feature. Like a calibration report that SWMM users could run as part of their QA. That would save Engineers tons of grunt work. Perhaps help them to be less fixated on changing model results.

[2018-06-05 15:51] mdbartos opened #285 "Add coordinate support to SWMM data model and expose API"
Hey @bemcdonnell, just wanted to check and see if there is any desire for integrated GIS-like functionality in pyswmm.

Some functionality that could be convenient to have:

- Find links/nodes upstream of a given node/link.
- Clip rasters to a subcatchment (to estimate impervious area, etc.)
- Find links lying within a particular polygon

Doing these efficiently would probably require introducing

[2018-06-05 20:21] #57 closed

[2018-06-05 21:09] dickinsonre commented on #184
Link for ash-Sutcliffe, Logarithmic Nash-Sutcliffe
https://www.adv-geosci.net/5/89/2005/adgeo-5-89-2005.pdf
Link for Kling-Gupta
http://www.meteo.mcgill.ca/~huardda/articles/gupta09.pdf

[2018-06-11 17:55] bemcdonnell commented on #182
Cross Referencing Issue from PySWMM:
https://github.com/OpenWaterAnalytics/pyswmm/issues/156

[2018-06-11 20:53] bemcdonnell commented on #182
@sazzad-sharior, I believe you are looking to add some similar functionality to the API.  I suggest you study what @katmratliff is working and produce something similar.

[2018-06-28 18:24] michelleannesimon opened #186 "Bad link to tests\readme.md"
Hello,
I am unable to use the tests\readme.md file.  Is the link active?

"Regression Testing
To run the test suite for please refer to the tests/README.md"

[2018-06-28 18:32] michaeltryby commented on #186
The document on testing can be found [here](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/.github/REGRESSION_TESTING.md).

I believe the document on [contributing](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/.github/CONTRIBUTING.md) that you are already aware of is more up to date.

[2018-06-28 18:54] bemcdonnell commented on #186
@michaeltryby, Do we need to fix any links  or update docs?

[2018-06-28 19:01] michelleannesimon commented on #186
Yes, the <> Code page link is incorrect

[2018-06-28 19:17] bemcdonnell commented on #186
@michelleannesimon, good catch. It looks like the new link from the project README file is here:

https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/.github/REGRESSION_TESTING.md

Could you fix and submit a PR back?

[2018-06-29 16:00] #186 closed

[2018-07-09 13:36] bemcdonnell commented on #184
@dickinsonre, could always report the top offenders above some threshold in a table as well as MEAN and STD?

[2018-07-24 18:02] bemcdonnell opened #189 "add storage node get/set (Setting functional curve coefficient)"
Issue Carried over from PySWMM: (https://github.com/OpenWaterAnalytics/pyswmm/issues/167)

joaolponciano, let's discuss the implementation over here. Once the API is opened, it is easy to interface pyswmm with it.

[2018-07-24 18:30] joaolponciano commented on #189
Awesome. So I was think how to do it, and I thought to take the parser used for get/set nodes parameters and modify it to fit into the storage parameters. Do you think this could work?

[2018-07-25 13:47] michaeltryby commented on #189
The EPANET API has curve editing capabilities. Then the curve gets associated with a model element. This way all the different curve types are editable through the API.

So I would like to see more general curve editing capabilities implemented rather then something specific just for storage nodes. Make sense?

[2018-07-25 14:29] bemcdonnell commented on #189
@joaolponciano, I guess that I'm envisioning a few get/set functions for storage nodes.

For starters, specific to storage nodes the parser collects and populates the following properties pertaining to Storage Nodes:

[code]

I envision the following functions available for a Node-Storage Object.  The other properties such as `elev`, `maxDepth`, and `initDepth` shoudl already be available through

[2018-07-27 19:44] joaolponciano commented on #189
@bemcdonnell, I've tried doing something similar to what is done for the nodes, but I'm not so sure if I have to implement the function curve equations again (and how to implement something about the tabular curve) and I have some doubts about the evaporation and exfil units. I thought something like that:

int DLLEXPORT swmm_getStorageParam(int index, int Param, double *value)
//
// Input:   inde

[2018-07-27 20:39] bemcdonnell commented on #189
@joaolponciano, go ahead and issue a pull request and we can discuss the implementation there.  "Issues" are normally to discuss concepts.

[2018-07-27 21:31] dickinsonre commented on #189
I have a question, is this all to model changing areas in a storage node over a period of years?  I like the idea but if we had time series tied to all SWMM5 parameters then it might be easier to do this.

[2018-07-27 22:01] bemcdonnell commented on #189
@dickinsonre, it appears in the code block that this API function will be shut off during simulation time.  Which I think is good.  I would worry about creating or destroying mass if the node area were to change over time.

[2018-07-27 22:10] dickinsonre commented on #189
1,  A workaround would be to test for th node depth, if the storage node was dry and the pond increased in area there would not be any mass balance issues in a continuous simulation.

2.  Mass balance happens already in a ponded node, the volume and depth change all of the time but no worries as the volume is conserved for the next time.

[2018-07-28 22:31] joaolponciano commented on #189
@bemcdonnell, I created a pull and insert that parser there.

[2018-07-28 22:48] bemcdonnell commented on #189
@joaolponciano, it looks like your pointed your PR to USEPA. Please point it to OpenWaterAnalytics/Stormwater-Management-Model ‘dev’ branch

[2018-07-30 13:58] joaolponciano commented on #189
Sorry, I did not pay attention to this when I submitted the pull, I think it's now in the right place.

[2018-08-03 01:42] RudyFrom3 commented on #111
based on #124 being closed off, I am assuming that the weir/orifice connection to SWMM is now operational and that the stumbling block for 2D models now is only on how to link the exchange of information to and from SWMM? So to drive the Weir/Orifice a value of depth is required that is representative of the depth over a pit Top. For Pits that Surcharge, the Flow from SWMM needs to be passed back

[2018-08-03 02:11] RudyFrom3 commented on #110
In resolving https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/pull/124  related to the Pit Top object being created,
1. above is now somewhat resolved. As explained in https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/issues/111 the need to confirm the Pit Inlet Flow against the Pipe Capacity (Given that there maybe one or more upstream pipes at a node now requires

[2018-08-03 10:43] lrntct commented on #111
@RudyFrom3

When using the dynamic solver, a SWMM node is a storage. All the flows that enter a node(from pipes, user inflow, catchment, etc.) are added to/subtracted from the amount of water stored in the node. This in turn changes the water surface elevation in the node. The latter is used to calculate the flow in the pipes connected to the node at the next time step.
The mass balance is maintai

[2018-08-17 13:33] michaeltryby opened #194 "Update swmm output API get units functionality"
Update `smo_get_units_project` to return the complete description of user selected / derived units as an array:
unit_system
flow_units
pres_units
qual_units
rx_rate_units

Eliminate the units type flag as a function argument.

[2018-08-17 14:03] #182 closed

[2018-08-18 19:48] bemcdonnell commented on #154
Has anyone tried converting the three SWMM manuals from DOCX (or PDF) to Markdown?  I'm editing the swmm docs today and I might be able to drop those files in with the current web-based docs.  It would be a fun test if nothing else.

[2018-08-18 20:31] dickinsonre commented on #184
A few other references on KGE
https://www.rforge.net/doc/packages/hydroGOF/KGE.html
http://www.smhi.net/hype/wiki/doku.php?id=start:hype_file_reference:info.txt:criteria_equations

[2018-08-19 03:10] bemcdonnell opened #195 "swmm_getSubcatchStats() switch units to volume (instead of length)"
The way I implemented this before was not very thoughtful of the use case.  At the time I was thinking more about water balances.  Right now these all output `in` or `mm`.  Should be Volume.

:man_facepalming::man_facepalming::man_facepalming::man_facepalming::man_facepalming:

[code]

[2018-08-19 03:20] bemcdonnell opened #196 "swmm_getSystemRunoffStats() returns volumes instead of length"
Same as #195

[code]

[2018-08-20 15:31] #196 closed

[2018-08-20 15:31] #195 closed

[2018-08-20 15:54] #161 closed

[2018-08-31 19:22] michaeltryby opened #199 "Unit tests detect memory leaks in output and toolkit libraries"
Memory leaks can be detected when running unit tests in Debug mode.

[2018-09-03 21:09] michaeltryby opened #200 "State of the Travis CI build"
Regression testing on Travis would benefit from a Linux maintainer to help keep the benchmarks updated. Until a maintainer volunteers, I propose shutting off reg testing. Travis running in a passing state is more useful to the project. Thoughts?

[2018-09-10 12:54] michaeltryby commented on #200
Regression testing has been deactivated, however, unit tests are causing the build to fail.

[2018-09-10 13:45] michaeltryby opened #203 "Problems with US EPA SWMM v5.1.13 benchmark"
Late on Friday I started work on establishing a regression testing benchmark for US EPA SWMM v5.1.13. I downloaded and ran the installer from the US EPA SWMM website. The installer took a very long time to run and installed the 32 and 64 bit versions of the MS VC++ 2017 Redistributable packages.

Next I built the source code that has been checked-in for the release [here](https://github.com/USEPA/

[2018-09-10 13:56] dickinsonre commented on #203
I looked and i am using 10.0.16299.0,  does each install have a slightly newer SDK version?

[2018-09-10 13:58] michaeltryby commented on #203
@dickinsonre when did you install it?

[2018-09-10 15:31] LRossman commented on #203
@michaeltryby it seems unlikely that different recent versions of the Windows SDK would affect numerical results. @dickinsonre could you try re-building and testing 5.1.013 using your two SDK versions and see if there are any numerical differences.

Also, I'm a little confused as to why the 5.1.013 installer was installing the SDK -- it's only supposed to install the VC++ runtime libraries (the on

[2018-09-10 15:37] michaeltryby commented on #203
Ok. So what I did next is I installed Windows 10 SDK version 10.0.15063.0 and then downloaded the SWMM engine source from the Official US EPA SWMM website. I built the dll and the cle using the Visual Studio project files bundled in the source code package. Then I compared the SWMM version installed with the installer to the version I just built locally and ... they don't match.

[2018-09-10 17:05] LRossman commented on #203
I just compared some results from the 5.1.013 engine installed by the setup program (SDK 10.0.15063.0) with those from a re-built version using SDK 10.0.10240.0. I found no differences for selected objects in example1.inp (runoff from 4 subcatchments) and extran1.inp (flows in 5 links). It would help if you could tell us what elements in your files were failing the reg tests for which variable at

[2018-09-10 17:16] michaeltryby commented on #203
So I guess its possible that the source code posted to the US EPA SWMM Website isn't the same as the version on your machine.

Reg Tests Failing:
Example 1 - report diff failure
Example 3 - report diff failure
test 5 - report diff failure
user 1 - binary diff failure
user 5 - binary diff failure

[2018-09-10 17:26] LRossman commented on #203
That might be the case. Let me look into it and get back to you by tomorrow.

[2018-09-10 21:08] michaeltryby opened #204 "Remove version number comments in margin"
See discussion in PR #202

[2018-09-10 21:17] bemcdonnell commented on #204
@michaeltryby, what is this task?

[2018-09-10 22:43] michaeltryby commented on #204
@bemcdonnell Knock it out on your flight.

[2018-09-10 22:58] bemcdonnell commented on #204
@michaeltryby, I think we should couple this issue with a style change with clang-format.

[2018-09-10 23:51] LRossman commented on #203
1. I downloaded the source code from the EPA web page and compared the files against those on my machine -- no difference.

2. Then as you did, I followed the build instructions for VS 2017 to build swmm5.exe and swmm5.dll with the downloaded source files.

3. Next I downloaded the 5.1.013 setup program from the web page and re-installed the swmm5 files on my machine.

4. Then I ran both versions

[2018-09-11 00:37] michaeltryby commented on #204
Not before we merge in the reentrancy branch.

[2018-09-11 00:59] michaeltryby commented on #203
@LRossman the issue is that the build occurring on Appveyor using the code checked into GitHub differs from the release version of SWMM. Doing comparisons internal to your setup and saying everything checks out misses the point. Yes I am absolutely certain I’m not building 64 bit by mistake. Eithe the code in GitHub isn’t the latest version, there is a build setting change not reflected in the cma

[2018-09-11 09:32] michaeltryby commented on #204
Rather than bundling this with other issues and pushing it off into the future why not just get it done?

[2018-09-11 12:37] michaeltryby commented on #203
This is what I see when I run `cl.exe`:
Microsoft (R) C/C++ Optimizing Compiler Version 19.14.26429.4 for x86

[2018-09-11 13:00] LRossman commented on #203
**********************************************************************
** Visual Studio 2017 Developer Command Prompt v15.0.26430.6
** Copyright (c) 2017 Microsoft Corporation
**********************************************************************
[vcvarsall.bat] Environment initialized for: 'x86'

C:\Program Files (x86)\Microsoft Visual Studio\2017\Community>cl
Microsoft (R) C/C++ Optimizing Compi

[2018-09-11 13:08] michaeltryby commented on #203
This confirms that we are using different compiler versions.

[2018-09-11 18:02] michaeltryby commented on #203
I upgraded to the latest version of Visual Studio Community 2017 (Version 15.8.3).

I have compared the cmake compiler and linker settings to the settings found in the Visual Studio project files bundled with the source code distribution. A linker flag changed from /LTCG to /LTCG:incremental. This caused a a change in the max outfall flow in the report file. With the build settings identical, I am

[2018-09-11 18:51] LRossman commented on #203
No thoughts 😢.

Why not make a new build of the "official" release using the settings that work with cmake, create a new  setup program (trivial using the Inno setup script I prepared), replace the old VC project files in the source code zip file, and re-post everything to the web page.

[2018-09-12 13:29] dickinsonre commented on #203
It is a little off topic but a blog about why testing is so important

https://medium.com/@plainprogrammer/tests-should-not-be-optional-579151593ebc

[2018-10-08 22:04] elappala opened #205 "building swmm with xcode"

[2018-10-08 23:27] michaeltryby commented on #205
@elappala Have you tried generating the Xcode project files using cmake? Also think OpenMP support may be an issue.

[2018-10-09 15:16] dleutnant commented on #205
I wrote a gist about how to compile SWMM on Debian and what has to be changed for Mac OS X. See [here](https://gist.github.com/dleutnant/872ee59a2140bd068bc84a756a5ce223). Hope this helps...

[2018-10-09 15:32] bemcdonnell commented on #205
@dleutnant, do you have any interest in contributing this build strategy back to this project using the `cmake` workflow? https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/CMakeLists.txt

[2018-10-09 15:49] dleutnant commented on #205
I haven't worked with CMake yet, but would love to contribute. Do you have any recommendation where to start (reading)?
Also, I thought about providing SWMM5 through homebrew. Do you have any thoughts on this?

[2018-10-09 16:04] bemcdonnell commented on #205
@dleutnant, I think it could be really helpful if you wanted to maintain a particular packaging distribution channel that is relevant to your workflow.  I'm sure others would really appreciate and benefit from it.  I _believe_ OWA will take on a standard practice here to leverage GitHub "releases" to stage pre-built binaries / source and this will be the formal distribution channel for our release

[2018-10-12 22:11] bemcdonnell commented on #205
@michaeltryby, I'll let you know how this goes... attempting it now

[2018-10-15 07:15] dleutnant commented on #205
@bemcdonnell Using GitHub as distribution channel totally makes sense to me. Homebrew was just an idea out of convenience (isn't `brew install swmm` charming?). But I agree, maintaining only one channel needs less resources and avoids confusion, too. Also, I'll have a look how to deal with OpenMP issues and how to edit the cmake configuration. Thanks @michaeltryby for the link!

[2018-10-15 11:28] bemcdonnell commented on #205
Here are a couple more links to add to the thread:

http://clang-omp.github.io/

https://openmp.llvm.org/

[2018-10-16 13:47] dleutnant commented on #205
hint: Assuming the dependencies **boost**, **cmake** and **OpenMP** are installed, compiling with cmake on Mac OS X comprises the following steps:

1. Download: `git clone https://github.com/OpenWaterAnalytics/Stormwater-Management-Model.git`
2. Locate _CMakeLists.txt_: `cd Stormwater-Management-Model`
3. Build files: `cmake .`
4. Compile: ` cmake --build .`

[2018-10-17 11:37] RudyFrom3 commented on #111
Hi all, just a desperate Plea for a Status Update ??
What needs to be completed for there to be a Generic available method to link SWMM to 2D models ?
I am at a point where I am willing to pay some one if there needs to be coding done ?
Where to from here ?

[2018-10-17 13:58] bemcdonnell commented on #111
@RudyFrom3,

the feature "as-is" is already sitting in the `feature-2dflood` feature branch.  The biggest thing that needs to happen at this point are unit/reg tests and documentation.  I'm not sure of the status of it - but if you are to begin using it, you should log bugs and other issues that you have with it.  When a contributor brings this 2D link implementation to the finish line, the we can

[2018-10-17 13:58] bemcdonnell commented on #111
I'm particularly interesting in @dickinsonre's thoughts on this as well

[2018-10-17 21:31] RudyFrom3 commented on #111
Ok... is there any where a small example of how it is to operate ?
    - How to pass Depth from the 2D model to SWMM
    - How to check the SWMM state (Pipes already full ? or able to accept Water)
    - Report Flow accepted by SWMM back to 2D model
    - Pass Flow from 'End of Pipe' to the 2D model

Once I can determine how this is done I'd be very happy to set up various tests....

[2018-10-17 22:16] dickinsonre commented on #111
I will comment on this Rudy later in the week.

[2018-10-17 22:16] michelleannesimon commented on #111
thanks

From: dickinsonre [mailto:notifications@github.com]
Sent: Wednesday, October 17, 2018 6:16 PM
To: OpenWaterAnalytics/Stormwater-Management-Model <Stormwater-Management-Model@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [OpenWaterAnalytics/Stormwater-Management-Model] Calculate the flow from/to a surface model (#111)

I will comment on this Rudy later in t

[2018-10-18 16:59] bemcdonnell opened #207 "Port Project to OSX 64-bit Compiler (Clang)"

[2018-10-19 09:11] dleutnant commented on #205
@elappala Did you manage to build SWMM5 on your Mac OS X machine? Please consider to close this issue or let us know how we can help you. Thanks!

[2018-10-20 03:51] abhiramm7 opened #209 "more general cmakelists file for osx."
Current cmakelists file enforces brew on the users for compiling it in osx. I think we can make it a bit more flexible for users who might not want to use home-brew or Clang.

Here is a solution,

[code]
 gcc/g++ automatically recognize the openmp.

[2018-10-20 16:57] bemcdonnell commented on #209
@abhiramm7, I suggest submitting a pull request and we can discuss it there.  The Issue with Clang is that out of the box - unlike straight GCC - does not come with OpenMP.  As far as my limited understanding of the issue, with Clang you have to link to pre-built binaries which, again as far as my limited understanding, are acquired through Homebrew.

There are two options here.  Use Homebrew to f

[2018-10-20 22:00] jennwuu opened #210 "inconsistent error number returns"
toolkitapi.c returning error code index, swmm5.c is returning errcode

[2018-10-20 23:35] abhiramm7 commented on #209
I should have been more elaborate in my issue and yeah it does make sense. I was suggesting the we can make the cmake file more flexible by making @dleutnant addition specific to Clang and also support gcc. I was able compile SWMM with clang and gcc on my end with this cmake file. @dleutnant,   if you are ok with this modification, I'll can submit the PR.

[2018-10-21 01:13] bemcdonnell commented on #68
This feature was complet

[2018-10-21 01:13] #68 closed

[2018-10-21 14:53] #28 closed

[2018-10-21 16:20] #71 closed

[2018-10-21 20:28] bemcdonnell commented on #111
@lrntct, do you have any documentation on how to use this feature?

[2018-10-22 05:15] dickinsonre commented on #184
Okay, for some reason your @bemcdonnell cherry picking comment got stuck in my head!  We have implemented comparison tests for all nodes, links and subcatchments.  I will update my dickinsonre GitHub soon after I learn more about GIT.  My son was complaining today I am using Git wrong.  Thanks for your patience in this matter.

[2018-10-22 08:58] lrntct commented on #111
@bemcdonnell I guess the best documentation would be a code example. Maybe I should make a pyswmm PR for the code I have?
I really want to implement that new functionality in Itzï, but I did not find the time to do it yet. When I eventually do so, I can write a more generic documentation at the same time.

[2018-10-22 09:31] lrntct commented on #111
@RudyFrom3 I try to do a synthesis:
First, in the nodes you want to couple you have to create openings with `swmm_setNodeOpening()`, and set the `couplingArea` with `swmm_setNodeParam()`.
As well, you have to make sure that you allow ponding in nodes, otherwise the node will never overflow (that is still something that could be improved, but @dickinsonre had a good idea how to do it.).

Then, at e

[2018-10-22 12:15] RudyFrom3 commented on #111
Ok... and if for example the pipe is already full... how to pass any surcharge back to 2D model ?

[2018-10-22 12:22] bemcdonnell commented on #111
@lrntct, I think it would be awesome to add a few unit tests to ensure the behavior you are after is in fact working. It could also serve as an example in the C code to use the C API. Meanwhile, you could also do the same on the pyswmm Project.

[2018-10-22 13:47] lrntct commented on #111
@RudyFrom3 In that case `couplingInflow` will be negative.
@bemcdonnell I guess `test_toolkitapi_gage.cpp` is a good example for that?

[2018-10-22 23:08] bemcdonnell opened #211 "toolkitAPI: change swmm_getCurrentDateTimeStr() to output component time"
I propose we make `swmm_getCurrentDateTimeStr()` the same argument format as `swmm_getSimulationDateTime()`

[code]
It's much easer to deal with if it's not a character array.

[2018-10-29 16:46] michaeltryby opened #212 "Refactor Toolkit API functions returning stats structures"
Needs refactoring and more unit testing.

[2018-10-30 17:17] michaeltryby commented on #212
@bemcdonnell I propose creating `test_toolkitapi_stats.cpp` where we write dedicated unit tests for each of the api functions that returns a stats struct. What do you think?

[2018-10-30 18:41] bemcdonnell commented on #212
@michaeltryby, I think your suggestion is a good idea!

[2018-10-30 19:17] michaeltryby commented on #199
Closed PR #202

[2018-10-30 19:17] #199 closed

[2018-11-01 19:18] michaeltryby commented on #212
@bemcdonnell and @katmratliff  I have made some progress refactoring the stats functions and I wanted to keep you in the loop and get your feedback.

I discovered a C99 language feature  -- [Flexible Array Member (FAM)](https://en.wikipedia.org/wiki/Flexible_array_member) -- that turned out to be helpful. Defining the pollutant array inside the struct as a FAM means the size of the array can be de

[2018-11-01 23:06] michaeltryby commented on #205
Close issue?

[2018-11-05 18:05] katmratliff commented on #212
@michaeltryby awesome! Using the FAM seems much easier and makes a lot of sense to me.

[2018-11-05 18:09] michaeltryby commented on #212
@katmratliff Thanks for the feedback!

[2018-11-17 16:21] anneliesesytsma opened #214 "RULE_STEP error"
I am having issues running a model in pyswmm, but  the model runs fine using the GUI. I get an 'invalid keyword RULE_STEP' error in the rpt file I get when I run in pyswmm. When I run in the GUI I get real results. I've tried setting the RULE_STEP to different values, but keep getting the same error. Any ideas?

  ERROR 205: invalid keyword RULE_STEP at line 27 of [OPTION] section:
  RULE_STEP

[2018-11-17 16:40] dickinsonre commented on #214
The rule step was added for SWMM 5.1.013 and is not in SWMM 5.1.012 which I think is the basis of the current PYSWMM.  You probably have to delete that line from the INP file to run inside of PYSWMM.

[2018-11-17 16:57] anneliesesytsma commented on #214
Thank you! That worked.

[2018-11-17 16:57] #214 closed

[2018-12-17 23:08] rudyvandrie commented on #111
we are working on linking ANUGA {in a pre Xmass Hackathon}... (cant seem to find    test_toolkitapi_gage.cpp , where is it located ??) I take it the only communication now required is: -  Passing ANUGA surface Depth as overlandDepth in Swmm.... and couplingInflow (+ve or -ve) from SWMM back to ANUGA.... That will in essence allow complete connectivity ??? The new Opening object solves a lot of iss

[2018-12-18 00:38] dickinsonre commented on #111
Hello Rudy,  Do you mean this location for test_toolkitapi_gage.cpp
https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/tree/develop/tests

[2018-12-18 02:56] rudyvandrie commented on #111
Ah thanks... another question is related to the need to Set the Opening Type ? I would have thought that setting Orifice, Weir or Submerged Weir, is superfluous as in fact it should be handled by the changing depth... An opening generally operates as a weir initially... water falls over the edges, as depth increases it may change to an orifice.... All openings generally follow this characteristic

[2018-12-18 02:58] rudyvandrie commented on #111
Maybe Type Should be a Vertical Opening or a Horizontal Opening.... (that is Wall.... or Floor Opening )

[2018-12-18 03:11] rudyvandrie commented on #111
Also... what is the Coupling Area ?.... is it the physical area in the Surface Flow model ? Why is this important to SWMM ?  The Opening, has a description of Length and Area, for the Weir & orifice

[2018-12-18 20:55] RudyFrom3 commented on #111
Ah Ok... Does the Opening Object confirm that the Pipe Flow Capacity is not limiting the Coupling Flow ? (Where is the code that does that check ?) Recall that there are two mechanisms that limit flow from the surface, the Openingflow, and the Pipe Flow capacity... (It would be hugely appreciated if pointers assistance can be provided in how tests are created through BOOST etc...)

[2018-12-19 00:44] lrntct commented on #111
@RudyFrom3 As discussed earlier, the coupling does not need to take into account the pipe capacity because SWMM does that already. If the pipes in the network do not have the capacity, then the water level in the node will increase.

[2018-12-19 01:34] RudyFrom3 commented on #111
ahhh Awesome....  Thanks

[2018-12-20 04:48] rudyvandrie commented on #111
As I understand it in SWMM totalinflow at a Node is the combination of all flows, pipe flow combined with surface inflow ? In his comment     lrntct commented on Oct 22, he describes the transfer of data from Surface Flow Model to SWMM So once the Opening is created he says:

Then, at every timestep:
swmm_setNodeParam() to set the new overlandDepth (and couplingArea if changed).
swmm_getNodeResult

[2018-12-20 09:18] dickinsonre commented on #111
Rudy - the total inflow to a node is the combination of the link flows to the node (including reverse flow) plus any lateral inflow to the node (runoff, dwf, rdii flow, external inflow).

[2018-12-21 06:21] rudyvandrie commented on #111
Yes when it comes to coupling... to a 2D surface model, I think @lrntct is right in saying the only transfer of information required is:
The representative depth driving flow into the opening object on the node, and the computed flow accepted by swmm, that ofcourse may require adjustment based on the availability of volume for the time step.

So at some point there needs to be volumetric accountin

[2018-12-21 07:44] dickinsonre commented on #111
Hello @rudyvandrie  if you connect the 1D node to the 2D mesh elements using a SWMM5 outfall then you will be able to use the already existing excellent 1D mass balance accounting.  Flow out of the 1D to the 2D will be summed in the outfall summary tables and the overall mass balance.

[2019-01-08 01:34] RudyFrom3 commented on #111
Thanks @dickinsonre, it seems we are struggling to determine the mechanics required as eluded to by @stoiver on 19/12/2018. Ideally as suggested if there was an example available to aid in identifying the mechanics of passing the data etc. It would be immensely helpful.
It is understood that the surface depth is passed swmm_setNodeParam(overlandDepth), and the swmm_getNodeResult(couplingInflow) is

[2019-01-13 12:04] dleutnant commented on #209
@abhiramm7 I'm definitely ok! Looking forward to your PR. (btw sorry for my late response...)

[2019-01-13 12:14] dleutnant commented on #205
I'd say that we can close this issue as it addresses one particular problem.
However, I suggest to rename a new issue covering "Platform-specific Building OWA SWMM From Source" in which we could log the modification on the [https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/develop/.github/CONTRIBUTING.md](https://github.com/OpenWaterAnalytics/Stormwater-Management-Model/blob/d

[2019-01-14 16:09] bemcdonnell opened #220 "Roadmap Meeting II (SWMM-5.2.0) Let's Set A Date!"
**If you are referenced in this post, please propose a time in the following Doodle Link.**  I believe we are covering several time zones in North America, Europe and Asia/Australia so please try to be as flexible as possible.  This will be a great opportunity to meet the community of developers.  Hopefully it will be a very engaging discussion.

https://doodle.com/poll/zhenge69x9kv226a

Hey Dev T

[2019-01-15 20:45] michaeltryby commented on #205
@dleutnant and @bemcdonnell  Not sure if you are aware or not, but Mac OS build in Travis is down right now.

https://travis-ci.org/OpenWaterAnalytics/Stormwater-Management-Model/jobs/479307151

[2019-01-15 20:52] michaeltryby commented on #220
@bemcdonnell US EPA SWMM v5.1.13 has already been merged into the develop branch (see PR #202).

[2019-01-15 20:59] michaeltryby opened #221 "Improvements for reg testing workflow: updating benchmark"
@bemcdonnell Thoughts?

[2019-01-15 21:48] bemcdonnell commented on #220
@michaeltryby, I updated my comment - thanks.

[2019-01-17 01:32] WaterDesk commented on #221
how about to put the benchmark files to the SWMM repo? It looks easier to maintain the tests in one single repo, I think.

[2019-01-17 01:59] michaeltryby commented on #221
@WaterDesk actually that’s how we had it setup originally. But the EPANET and SWMM maintainers felt the repo was cluttered and suggested we move the input files to swmm-example-networks repo, and maintain the benchmark files in a release. This allows us to version testing inputs independently of the engine code. Since testing artifacts are generated it helps reduce clutter to maintain them as an a

[2019-01-17 02:17] WaterDesk commented on #221
@michaeltryby I didn't run the tests. I am coding on Windows, but the `Step by Step Guide for Windows`  is still in coming soon :). Anyway, I will have a try.

[2019-01-17 08:09] dleutnant commented on #205
@michaeltryby fixed in #222

[2019-01-18 17:06] bemcdonnell commented on #220
Hey All, we have converged on a pretty good option for

https://doodle.com/poll/zhenge69x9kv226a

Thursday, Jan 31 at 11am EST.  I will provide a Webex link here to join the call. Thanks for participating in the doodle!

[2019-01-31 16:03] michaeltryby commented on #220
When I dial the phone number to join the call I get a busy signal.

[2019-01-31 16:04] katmratliff commented on #220
try the toll-free US number (click on the more numbers option)

[2019-01-31 16:06] katmratliff commented on #220
1 844 740 1264

[2019-01-31 17:52] bemcdonnell commented on #220
Great meeting everyone!  I'll put my notes up in the Wiki ASAP

[2019-01-31 23:18] lrntct commented on #153
First of all, as @michaeltryby already worked quite a bit on that matter, my apologies if I am repeating something that has already been tried or taken into account.

We know that different compiler options could give [different results](https://docs.microsoft.com/en-us/cpp/build/reference/fp-specify-floating-point-behavior?view=vs-2017). Are the benchmarks and regression tests computed using a st

[2019-02-01 03:16] WaterDesk commented on #221
@michaeltryby When I run `python -m pip install -r tools\requirements-appveyor.txt` defined in *Appveyor.yaml*, I met a problem in my machine.
[code]

I tried Python 2.7.15 (64-bit) and 3.7.2(64-bit), both had the same issue.
Is there any step I missed?

[2019-02-05 16:12] michaeltryby commented on #220
@bemcdonnell Thanks for a great call! I wanted to follow up with a few thoughts. We ended up talking a fair amount about what I have been working on and about testing improvements. To keep SWMM development moving forward it would also be helpful for our feature developers (i.e. anyone working in a feature branch) to do a little maintenance.

If you haven't already done so please, fetch pull the de

[2019-02-05 16:31] michaeltryby opened #223 "Migrate code base from C to C++ to facilitate refactoring"
To facilitate refactoring the code base, it would be useful to transition from using a C compiler as we currently do to using C++.

We have experimented with this in the past and determined that only minor changes related to type casts were necessary. C++ is more strict about casting than C is.

Should we consider rolling this in to the port to 64 bit? Any concerns regarding this proposal?

[2019-02-05 16:56] bemcdonnell commented on #223
What are the pros and cons?

[2019-02-05 17:56] michaeltryby commented on #223
Over the near term there would be almost no difference. The existing code base will compile in C++ with only minor changes and we could continue to develop in the C procedural style we are all familiar with.

I think the bigger question is, do we want to keep SWMM in C as as a procedural code base organized around functional abstraction or over the long term do we want to migrate to C++ and reorga

[2019-02-05 20:28] michaeltryby opened #224 "Improve regression and unit testing (local and CI)"
Here is the negative feedback the automated testing system has received since roll out:
 - [ ] requires too many dependencies
 - [ ] requires Python
 - [ ] requires third party packages
 - [ ] requires admin rights to run
 - [x] ~~command line arguments for helper scripts are burdensome~~
 - [ ] helper scripts break easily
 - [ ] helper scripts don't fail nicely
 - [ ] too many helper scripts
 - [

[2019-02-05 21:04] dickinsonre commented on #224
That is one comprehensive list. Testing is absolutely necessary and you do have an extensive suite of testing tools.  I think you have already done this but two threads of checks, one for compilers and one for engine changes would be better.

[2019-02-05 21:15] michaeltryby commented on #224
@dickinsonre The negative feedback testing has received has been comprehensive to say the least! 😄

We currently maintain two branches for benchmarks: `master` is for releases and `dev-rolling` stays in sync with active development. Thinking about it ... we currently only maintain a benchmark for Windows. Since we are considering adding Mac OS and Linux to the mix we are going to have to rethink o

[2019-02-05 21:40] michaeltryby commented on #224
Maybe for fun we should make this into a "Top 10 Reasons Our Testing System Sucks" a'la David Letterman.

[2019-02-10 15:33] michaeltryby opened #227 "Travis conflict including nrtest for coverage"
https://docs.travis-ci.com/user/multi-os/#python-example-unsupported-languages

[2019-02-11 02:29] #141 closed

[2019-02-12 20:29] michaeltryby commented on #224
@bemcdonnell has noted that he finds tests difficult to run locally. I have therefore prepared two PRs to help simplify the use of the helper scripts when running tests locally on Windows.

Firstly, the scripts `before-test.cmd` and `run-nrtest.cmd` have been updated to search for and find the location of the `python\Scripts` and `bin\Release` folders. These are the two instances where absolute pa

[2019-02-12 21:35] michaeltryby commented on #224
I am working on another small change that may make it easier to update the benchmark.

Right now Appveyor is setup to automatically create an archive and upload benchmarks as an artifact associated with the run. If we changed our current shell variable `BENCHMARK_VER` to something like `BENCHMARK_COMMIT` updating the benchmark would be as easy as creating a tagged release in the `swmm-example-netw

[2019-02-19 16:20] michaeltryby commented on #227
I would like to run nrtest on Travis to generate coverage data for reg tests, however, I am unable to because I need `language: python` but this is unsupported on OS X. I'm sure there is a way to do this using matrix settings.

[2019-02-19 18:39] #227 closed

[2019-02-20 23:02] michaeltryby commented on #224
Regression Testing Use Case and Requirements

A reg test is performed on a built version of the software. A version of the software can be built more than one time. A build matrix can result in several jobs each producing different SUT artifacts and requiring different REF artifacts. Builds can occur on different platforms. Therefore the platform, build, and version are required to unambiguously i